<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\ErrorException;
use DockerLib\Exceptions\V2AccessTokens400ErrorException;
use DockerLib\Models\AccessToken;
use DockerLib\Models\CreateAccessTokenRequest;
use DockerLib\Models\CreateAccessTokensResponse;
use DockerLib\Models\GetAccessTokensResponse;
use DockerLib\Models\PatchAccessTokenRequest;
use DockerLib\Models\PatchAccessTokenResponse;

class AccessTokensController extends BaseController
{
    /**
     * Returns a paginated list of personal access tokens.
     *
     * @param float|null $page
     * @param float|null $pageSize
     *
     * @return GetAccessTokensResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getalistofpersonalaccesstokens(?float $page = 1, ?float $pageSize = 10): GetAccessTokensResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/access-tokens')
            ->parameters(QueryParam::init('page', $page), QueryParam::init('page_size', $pageSize));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', V2AccessTokens400ErrorException::class))
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ErrorException::class))
            ->type(GetAccessTokensResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates and returns a personal access token.
     *
     * @param CreateAccessTokenRequest $body
     *
     * @return CreateAccessTokensResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createapersonalaccesstoken(CreateAccessTokenRequest $body): CreateAccessTokensResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/access-tokens')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', V2AccessTokens400ErrorException::class))
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ErrorException::class))
            ->type(CreateAccessTokensResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes a personal access token permanently. This cannot be undone.
     *
     *
     * @param string $uuid
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteapersonalaccesstoken(string $uuid): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v2/access-tokens/{uuid}')
            ->parameters(TemplateParam::init('uuid', $uuid));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a personal access token by UUID.
     *
     * @param string $uuid
     *
     * @return AccessToken Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getapersonalaccesstoken(string $uuid): AccessToken
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/access-tokens/{uuid}')
            ->parameters(TemplateParam::init('uuid', $uuid));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', ErrorException::class))
            ->type(AccessToken::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates a personal access token partially. You can either update the
     * token's label or enable/disable it.
     *
     *
     * @param string $uuid
     * @param PatchAccessTokenRequest $body
     *
     * @return PatchAccessTokenResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateapersonalaccesstoken(string $uuid, PatchAccessTokenRequest $body): PatchAccessTokenResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/v2/access-tokens/{uuid}')
            ->parameters(
                TemplateParam::init('uuid', $uuid),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', V2AccessTokens400ErrorException::class))
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ErrorException::class))
            ->type(PatchAccessTokenResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
