<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\TasksLogs404ErrorException;
use DockerLib\Exceptions\TasksLogs500ErrorException;
use DockerLib\Exceptions\TasksLogs503ErrorException;

class APIController extends BaseController
{
    /**
     * Get `stdout` and `stderr` logs from a task.
     *
     * **Note**: This endpoint works only for services with the `json-file` or `journald` logging drivers.
     *
     *
     * @param string $id ID of the task
     * @param bool|null $details Show task context and extra details provided to logs.
     * @param bool|null $follow Return the logs as a stream. This will return a `101` HTTP response
     *        with a `Connection: upgrade` header, then hijack the HTTP connection to send raw
     *        output. For more information about hijacking and the stream format, [see the
     *        documentation for the attach endpoint](#operation/ContainerAttach).
     * @param bool|null $stdout Return logs from `stdout`
     * @param bool|null $stderr Return logs from `stderr`
     * @param int|null $since Only return logs since this time, as a UNIX timestamp
     * @param bool|null $timestamps Add timestamps to every log line
     * @param string|null $tail Only return this number of log lines from the end of the logs.
     *        Specify as an integer or `all` to output all log lines.
     *
     * @return string Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function taskLogs(
        string $id,
        ?bool $details = false,
        ?bool $follow = false,
        ?bool $stdout = false,
        ?bool $stderr = false,
        ?int $since = 0,
        ?bool $timestamps = false,
        ?string $tail = 'all'
    ): string {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/tasks/{id}/logs')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('details', $details),
                QueryParam::init('follow', $follow),
                QueryParam::init('stdout', $stdout),
                QueryParam::init('stderr', $stderr),
                QueryParam::init('since', $since),
                QueryParam::init('timestamps', $timestamps),
                QueryParam::init('tail', $tail)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such task', TasksLogs404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', TasksLogs500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is not part of a swarm', TasksLogs503ErrorException::class)
            );

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
