<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\RpcStatusException;
use DockerLib\Models\V2AuditlogsActionsResponse;
use DockerLib\Models\V2AuditlogsResponse;
use DockerLib\Utils\DateTimeHelper;

class AuditLogsController extends BaseController
{
    /**
     * Get audit log events for a given namespace.
     *
     * @param string $account Namespace to query audit logs for.
     * @param string|null $action action name one of ["repo.tag.push", ...]. Optional parameter to
     *        filter specific audit log actions.
     * @param string|null $name name. Optional parameter to filter audit log events to a specific
     *        name. For repository events, this is the name of the repository. For organization
     *        events, this is the name of the organization. For team member events, this is the
     *        username of the team member.
     * @param string|null $actor actor name. Optional parameter to filter audit log events to the
     *        specific user who triggered the event.
     * @param \DateTime|null $from Start of the time window you wish to query audit events for.
     * @param \DateTime|null $to End of the time window you wish to query audit events for.
     * @param int|null $page page - specify page number. Page number to get.
     * @param int|null $pageSize page_size - specify page size. Number of events to return per page.
     *
     * @return V2AuditlogsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function auditLogsGetAuditLogs(
        string $account,
        ?string $action = null,
        ?string $name = null,
        ?string $actor = null,
        ?\DateTime $from = null,
        ?\DateTime $to = null,
        ?int $page = 1,
        ?int $pageSize = 25
    ): V2AuditlogsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/auditlogs/{account}')
            ->parameters(
                TemplateParam::init('account', $account),
                QueryParam::init('action', $action),
                QueryParam::init('name', $name),
                QueryParam::init('actor', $actor),
                QueryParam::init('from', $from)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('to', $to)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('page', $page),
                QueryParam::init('page_size', $pageSize)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('429', ErrorType::init(''))
            ->throwErrorOn('500', ErrorType::init(''))
            ->throwErrorOn('0', ErrorType::init('An unexpected error response.', RpcStatusException::class))
            ->type(V2AuditlogsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get audit log actions for a namespace to be used as a filter for querying audit events.
     *
     * @param string $account Namespace to query audit log actions for.
     *
     * @return V2AuditlogsActionsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function auditLogsGetAuditActions(string $account): V2AuditlogsActionsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/auditlogs/{account}/actions')
            ->parameters(TemplateParam::init('account', $account));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('429', ErrorType::init(''))
            ->throwErrorOn('500', ErrorType::init(''))
            ->throwErrorOn('0', ErrorType::init('An unexpected error response.', RpcStatusException::class))
            ->type(V2AuditlogsActionsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
