<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\V2Users2faLogin401ErrorException;
use DockerLib\Exceptions\V2UsersLogin401ErrorException;
use DockerLib\Models\V2Users2faLoginRequest;
use DockerLib\Models\V2Users2faLoginResponse;
use DockerLib\Models\V2UsersLoginRequest;
use DockerLib\Models\V2UsersLoginResponse;

class AuthenticationController extends BaseController
{
    /**
     * When user has 2FA enabled, this is the second call to perform after
     * `/v2/users/login` call.
     *
     * Creates and returns a bearer token in JWT format that you can use to authenticate with Docker Hub
     * APIs.
     *
     * The returned token is used in the HTTP Authorization header like `Authorization: Bearer {TOKEN}`.
     *
     * Most Docker Hub APIs require this token either to consume or to get detailed information. For
     * example, to list images in a private repository.
     *
     *
     * @param V2Users2faLoginRequest $body Login details.
     *
     * @return V2Users2faLoginResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postUsers2FALogin(V2Users2faLoginRequest $body): V2Users2faLoginResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/users/2fa-login')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Authentication failed or second factor required',
                    V2Users2faLogin401ErrorException::class
                )
            )
            ->type(V2Users2faLoginResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates and returns a bearer token in JWT format that you can use to
     * authenticate with Docker Hub APIs.
     *
     * The returned token is used in the HTTP Authorization header like `Authorization: Bearer {TOKEN}`.
     *
     * Most Docker Hub APIs require this token either to consume or to get detailed information. For
     * example, to list images in a private repository.
     *
     *
     * @param V2UsersLoginRequest $body Login details.
     *
     * @return V2UsersLoginResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postUsersLogin(V2UsersLoginRequest $body): V2UsersLoginResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/users/login')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Authentication failed or second factor required',
                    V2UsersLogin401ErrorException::class
                )
            )
            ->type(V2UsersLoginResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
