<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\Configs404ErrorException;
use DockerLib\Exceptions\Configs500ErrorException;
use DockerLib\Exceptions\Configs503ErrorException;
use DockerLib\Exceptions\ConfigsCreate409ErrorException;
use DockerLib\Exceptions\ConfigsCreate500ErrorException;
use DockerLib\Exceptions\ConfigsCreate503ErrorException;
use DockerLib\Exceptions\ConfigsUpdate400ErrorException;
use DockerLib\Exceptions\ConfigsUpdate404ErrorException;
use DockerLib\Exceptions\ConfigsUpdate500ErrorException;
use DockerLib\Exceptions\ConfigsUpdate503ErrorException;
use DockerLib\Models\Config;
use DockerLib\Models\ConfigsCreateResponse;
use DockerLib\Models\ConfigSpec;

class ConfigController extends BaseController
{
    /**
     * @param string|null $filters A JSON encoded value of the filters (a `map[string][]string`) to
     *        process on the configs list. Available filters:
     *
     *        - `id=<config id>`
     *        - `label=<key> or label=<key>=value`
     *        - `name=<config name>`
     *        - `names=<config name>`
     *
     * @return Config[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function configList(?string $filters = null): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/configs')
            ->parameters(QueryParam::init('filters', $filters));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', Configs500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Configs503ErrorException::class))
            ->type(Config::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param ConfigSpec|null $body
     *
     * @return ConfigsCreateResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function configCreate(?ConfigSpec $body = null): ConfigsCreateResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/configs/create')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '409',
                ErrorType::init('name conflicts with an existing object', ConfigsCreate409ErrorException::class)
            )
            ->throwErrorOn('500', ErrorType::init('server error', ConfigsCreate500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is not part of a swarm', ConfigsCreate503ErrorException::class)
            )
            ->type(ConfigsCreateResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID of the config
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function configDelete(string $id): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/configs/{id}')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('config not found', Configs404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Configs500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Configs503ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID of the config
     *
     * @return Config Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function configInspect(string $id): Config
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/configs/{id}')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('config not found', Configs404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Configs500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Configs503ErrorException::class))
            ->type(Config::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id The ID or name of the config
     * @param int $version The version number of the config object being updated. This is required
     *        to avoid conflicting writes.
     * @param ConfigSpec|null $body The spec of the config to update. Currently, only the Labels
     *        field can be updated. All other fields must remain unchanged from the [ConfigInspect
     *        endpoint](#operation/ConfigInspect) response values.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function configUpdate(string $id, int $version, ?ConfigSpec $body = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/configs/{id}/update')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('version', $version),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter', ConfigsUpdate400ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('no such config', ConfigsUpdate404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ConfigsUpdate500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is not part of a swarm', ConfigsUpdate503ErrorException::class)
            );

        $this->execute($_reqBuilder, $_resHandler);
    }
}
