<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\Containers400ErrorException;
use DockerLib\Exceptions\Containers404ErrorException;
use DockerLib\Exceptions\Containers409ErrorException;
use DockerLib\Exceptions\Containers500ErrorException;
use DockerLib\Exceptions\ContainersArchive400ErrorException;
use DockerLib\Exceptions\ContainersArchive403ErrorException;
use DockerLib\Exceptions\ContainersArchive404Error2Exception;
use DockerLib\Exceptions\ContainersArchive404ErrorException;
use DockerLib\Exceptions\ContainersArchive500ErrorException;
use DockerLib\Exceptions\ContainersAttach404ErrorException;
use DockerLib\Exceptions\ContainersAttachWs400ErrorException;
use DockerLib\Exceptions\ContainersAttachWs404ErrorException;
use DockerLib\Exceptions\ContainersAttachWs500ErrorException;
use DockerLib\Exceptions\ContainersChanges404ErrorException;
use DockerLib\Exceptions\ContainersChanges500ErrorException;
use DockerLib\Exceptions\ContainersCreate400ErrorException;
use DockerLib\Exceptions\ContainersCreate404ErrorException;
use DockerLib\Exceptions\ContainersCreate409ErrorException;
use DockerLib\Exceptions\ContainersCreate500ErrorException;
use DockerLib\Exceptions\ContainersExport404ErrorException;
use DockerLib\Exceptions\ContainersJson400ErrorException;
use DockerLib\Exceptions\ContainersJson404ErrorException;
use DockerLib\Exceptions\ContainersJson500ErrorException;
use DockerLib\Exceptions\ContainersKill404ErrorException;
use DockerLib\Exceptions\ContainersKill500ErrorException;
use DockerLib\Exceptions\ContainersLogs404ErrorException;
use DockerLib\Exceptions\ContainersLogs500ErrorException;
use DockerLib\Exceptions\ContainersPause404ErrorException;
use DockerLib\Exceptions\ContainersPause500ErrorException;
use DockerLib\Exceptions\ContainersPrune500ErrorException;
use DockerLib\Exceptions\ContainersRename404ErrorException;
use DockerLib\Exceptions\ContainersRename409ErrorException;
use DockerLib\Exceptions\ContainersRename500ErrorException;
use DockerLib\Exceptions\ContainersResize404ErrorException;
use DockerLib\Exceptions\ContainersResize500ErrorException;
use DockerLib\Exceptions\ContainersRestart404ErrorException;
use DockerLib\Exceptions\ContainersRestart500ErrorException;
use DockerLib\Exceptions\ContainersStart404ErrorException;
use DockerLib\Exceptions\ContainersStart500ErrorException;
use DockerLib\Exceptions\ContainersStats404ErrorException;
use DockerLib\Exceptions\ContainersStats500ErrorException;
use DockerLib\Exceptions\ContainersStop404ErrorException;
use DockerLib\Exceptions\ContainersStop500ErrorException;
use DockerLib\Exceptions\ContainersTop404ErrorException;
use DockerLib\Exceptions\ContainersTop500ErrorException;
use DockerLib\Exceptions\ContainersUnpause404ErrorException;
use DockerLib\Exceptions\ContainersUnpause500ErrorException;
use DockerLib\Exceptions\ContainersUpdate404ErrorException;
use DockerLib\Exceptions\ContainersUpdate500ErrorException;
use DockerLib\Exceptions\ContainersWait404ErrorException;
use DockerLib\Exceptions\ContainersWait500ErrorException;
use DockerLib\Models\ContainersChangesResponse;
use DockerLib\Models\ContainersCreateRequest;
use DockerLib\Models\ContainersCreateResponse;
use DockerLib\Models\ContainersJsonResponse;
use DockerLib\Models\ContainersPruneResponse;
use DockerLib\Models\ContainersTopResponse;
use DockerLib\Models\ContainerSummary;
use DockerLib\Models\ContainersUpdateRequest;
use DockerLib\Models\ContainersUpdateResponse;
use DockerLib\Models\ContainersWaitResponse;
use DockerLib\Models\ContentType1Enum;
use DockerLib\Utils\FileWrapper;

class ContainerController extends BaseController
{
    /**
     * @param ContainersCreateRequest $body Container to create
     * @param string|null $name Assign the specified name to the container. Must match
     *        `/?[a-zA-Z0-9_-]+`.
     *
     * @return ContainersCreateResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerCreate(ContainersCreateRequest $body, ?string $name = null): ContainersCreateResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/create')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('name', $name)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter', ContainersCreate400ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersCreate404ErrorException::class))
            ->throwErrorOn('409', ErrorType::init('conflict', ContainersCreate409ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersCreate500ErrorException::class))
            ->type(ContainersCreateResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of containers. For details on the format, see [the inspect
     * endpoint](#operation/ContainerInspect).
     *
     * Note that it uses a different, smaller representation of a container than inspecting a single
     * container. For example,
     * the list of linked containers is not propagated .
     *
     *
     * @param bool|null $all Return all containers. By default, only running containers are shown
     * @param int|null $limit Return this number of most recently created containers, including
     *        non-running ones.
     * @param bool|null $size Return the size of container as fields `SizeRw` and `SizeRootFs`.
     * @param string|null $filters Filters to process on the container list, encoded as JSON (a
     *        `map[string][]string`). For example, `{"status": ["paused"]}` will only return
     *        paused containers. Available filters:
     *
     *        - `ancestor`=(`<image-name>[:<tag>]`, `<image id>`, or `<image@digest>`)
     *        - `before`=(`<container id>` or `<container name>`)
     *        - `expose`=(`<port>[/<proto>]`|`<startport-endport>/[<proto>]`)
     *        - `exited=<int>` containers with exit code of `<int>`
     *        - `health`=(`starting`|`healthy`|`unhealthy`|`none`)
     *        - `id=<ID>` a container's ID
     *        - `isolation=`(`default`|`process`|`hyperv`) (Windows daemon only)
     *        - `is-task=`(`true`|`false`)
     *        - `label=key` or `label="key=value"` of a container label
     *        - `name=<name>` a container's name
     *        - `network`=(`<network id>` or `<network name>`)
     *        - `publish`=(`<port>[/<proto>]`|`<startport-endport>/[<proto>]`)
     *        - `since`=(`<container id>` or `<container name>`)
     *        - `status=`(`created`|`restarting`|`running`|`removing`|`paused`|`exited`|`dead`)
     *        - `volume`=(`<volume name>` or `<mount point destination>`)
     *
     * @return ContainerSummary[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerList(
        ?bool $all = false,
        ?int $limit = null,
        ?bool $size = false,
        ?string $filters = null
    ): array {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/containers/json')
            ->parameters(
                QueryParam::init('all', $all),
                QueryParam::init('limit', $limit),
                QueryParam::init('size', $size),
                QueryParam::init('filters', $filters)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter', ContainersJson400ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersJson500ErrorException::class))
            ->type(ContainerSummary::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string|null $filters Filters to process on the prune list, encoded as JSON (a
     *        `map[string][]string`).
     *
     *        Available filters:
     *        - `until=<timestamp>` Prune containers created before this timestamp. The
     *        `<timestamp>` can be Unix timestamps, date formatted timestamps, or Go duration
     *        strings (e.g. `10m`, `1h30m`) computed relative to the daemon machine’s time.
     *        - `label` (`label=<key>`, `label=<key>=<value>`, `label!=<key>`, or `label!
     *        =<key>=<value>`) Prune containers with (or without, in case `label!=...` is used)
     *        the specified labels.
     *
     * @return ContainersPruneResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerPrune(?string $filters = null): ContainersPruneResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/prune')
            ->parameters(QueryParam::init('filters', $filters));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Server error', ContainersPrune500ErrorException::class))
            ->type(ContainersPruneResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID or name of the container
     * @param bool|null $v Remove the volumes associated with the container.
     * @param bool|null $force If the container is running, kill it before removing it.
     * @param bool|null $link Remove the specified link associated with the container.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerDelete(string $id, ?bool $v = false, ?bool $force = false, ?bool $link = false): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/containers/{id}')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('v', $v),
                QueryParam::init('force', $force),
                QueryParam::init('link', $link)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter', Containers400ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('no such container', Containers404ErrorException::class))
            ->throwErrorOn('409', ErrorType::init('conflict', Containers409ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Containers500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get a tar archive of a resource in the filesystem of container id.
     *
     * @param string $id ID or name of the container
     * @param string $path Resource in the container’s filesystem to archive.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerArchive(string $id, string $path): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/containers/{id}/archive')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('path', $path));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad parameter'))
            ->throwErrorOn(
                '404',
                ErrorType::init('Container or path does not exist', ContainersArchive404ErrorException::class)
            )
            ->throwErrorOn('500', ErrorType::init('server error'));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Upload a tar archive to be extracted to a path in the filesystem of container id.
     *
     * @param string $id ID or name of the container
     * @param string $path Path to a directory in the container to extract the archive’s contents
     *        into.
     * @param string $contentType
     * @param FileWrapper $body The input stream must be a tar archive compressed with one of the
     *        following algorithms: identity (no compression), gzip, bzip2, xz.
     * @param string|null $noOverwriteDirNonDir If “1”, “true”, or “True” then it will be an error
     *        if unpacking the given content would cause an existing directory to be replaced with
     *        a non-directory and vice versa.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function putContainerArchive(
        string $id,
        string $path,
        string $contentType,
        FileWrapper $body,
        ?string $noOverwriteDirNonDir = null
    ): void {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/containers/{id}/archive')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('path', $path),
                HeaderParam::init('Content-Type', $contentType)->serializeBy([ContentType1Enum::class, 'checkValue']),
                FormParam::init('body', $body),
                QueryParam::init('noOverwriteDirNonDir', $noOverwriteDirNonDir)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad parameter', ContainersArchive400ErrorException::class))
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Permission denied, the volume or container rootfs is marked as read-only.',
                    ContainersArchive403ErrorException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'No such container or path does not exist inside the container',
                    ContainersArchive404Error2Exception::class
                )
            )
            ->throwErrorOn('500', ErrorType::init('Server error', ContainersArchive500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Attach to a container to read its output or send it input. You can attach to the same container
     * multiple times and you can reattach to containers that have been detached.
     *
     * Either the `stream` or `logs` parameter must be `true` for this endpoint to do anything.
     *
     * See [the documentation for the `docker attach` command](https://docs.docker.
     * com/engine/reference/commandline/attach/) for more details.
     *
     * ### Hijacking
     *
     * This endpoint hijacks the HTTP connection to transport `stdin`, `stdout`, and `stderr` on the same
     * socket.
     *
     * This is the response from the daemon for an attach request:
     *
     * ```
     * HTTP/1.1 200 OK
     * Content-Type: application/vnd.docker.raw-stream
     *
     * [STREAM]
     * ```
     *
     * After the headers and two new lines, the TCP connection can now be used for raw, bidirectional
     * communication between the client and server.
     *
     * To hint potential proxies about connection hijacking, the Docker client can also optionally send
     * connection upgrade headers.
     *
     * For example, the client sends this request to upgrade the connection:
     *
     * ```
     * POST /containers/16253994b7c4/attach?stream=1&stdout=1 HTTP/1.1
     * Upgrade: tcp
     * Connection: Upgrade
     * ```
     *
     * The Docker daemon will respond with a `101 UPGRADED` response, and will similarly follow with the
     * raw stream:
     *
     * ```
     * HTTP/1.1 101 UPGRADED
     * Content-Type: application/vnd.docker.raw-stream
     * Connection: Upgrade
     * Upgrade: tcp
     *
     * [STREAM]
     * ```
     *
     * ### Stream format
     *
     * When the TTY setting is disabled in [`POST /containers/create`](#operation/ContainerCreate), the
     * stream over the hijacked connected is multiplexed to separate out `stdout` and `stderr`. The stream
     * consists of a series of frames, each containing a header and a payload.
     *
     * The header contains the information which the stream writes (`stdout` or `stderr`). It also contains
     * the size of the associated frame encoded in the last four bytes (`uint32`).
     *
     * It is encoded on the first eight bytes like this:
     *
     * ```go
     * header := [8]byte{STREAM_TYPE, 0, 0, 0, SIZE1, SIZE2, SIZE3, SIZE4}
     * ```
     *
     * `STREAM_TYPE` can be:
     *
     * - 0: `stdin` (is written on `stdout`)
     * - 1: `stdout`
     * - 2: `stderr`
     *
     * `SIZE1, SIZE2, SIZE3, SIZE4` are the four bytes of the `uint32` size encoded as big endian.
     *
     * Following the header is the payload, which is the specified number of bytes of `STREAM_TYPE`.
     *
     * The simplest way to implement this protocol is the following:
     *
     * 1. Read 8 bytes.
     * 2. Choose `stdout` or `stderr` depending on the first byte.
     * 3. Extract the frame size from the last four bytes.
     * 4. Read the extracted size and output it on the correct output.
     * 5. Goto 1.
     *
     * ### Stream format when using a TTY
     *
     * When the TTY setting is enabled in [`POST /containers/create`](#operation/ContainerCreate), the
     * stream is not multiplexed. The data exchanged over the hijacked connection is simply the raw data
     * from the process PTY and client's `stdin`.
     *
     *
     * @param string $id ID or name of the container
     * @param string|null $detachKeys Override the key sequence for detaching a container.Format is
     *        a single character `[a-Z]` or `ctrl-<value>` where `<value>` is one of: `a-z`, `@`,
     *        `^`, `[`, `,` or `_`.
     * @param bool|null $logs Replay previous logs from the container. This is useful for attaching
     *        to a container that has started and you want to output everything since the
     *        container started.
     *
     *        If `stream` is also enabled, once all the previous output has been returned, it will
     *        seamlessly transition into streaming current output.
     * @param bool|null $stream Stream attached streams from the time the request was made onwards
     * @param bool|null $stdin Attach to `stdin`
     * @param bool|null $stdout Attach to `stdout`
     * @param bool|null $stderr Attach to `stderr`
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerAttach(
        string $id,
        ?string $detachKeys = null,
        ?bool $logs = false,
        ?bool $stream = false,
        ?bool $stdin = false,
        ?bool $stdout = false,
        ?bool $stderr = false
    ): void {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/{id}/attach')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('detachKeys', $detachKeys),
                QueryParam::init('logs', $logs),
                QueryParam::init('stream', $stream),
                QueryParam::init('stdin', $stdin),
                QueryParam::init('stdout', $stdout),
                QueryParam::init('stderr', $stderr)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter'))
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersAttach404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error'));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID or name of the container
     * @param string|null $detachKeys Override the key sequence for detaching a container.Format is
     *        a single character `[a-Z]` or `ctrl-<value>` where `<value>` is one of: `a-z`, `@`,
     *        `^`, `[`, `,`, or `_`.
     * @param bool|null $logs Return logs
     * @param bool|null $stream Return stream
     * @param bool|null $stdin Attach to `stdin`
     * @param bool|null $stdout Attach to `stdout`
     * @param bool|null $stderr Attach to `stderr`
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerAttachWebsocket(
        string $id,
        ?string $detachKeys = null,
        ?bool $logs = false,
        ?bool $stream = false,
        ?bool $stdin = false,
        ?bool $stdout = false,
        ?bool $stderr = false
    ): void {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/containers/{id}/attach/ws')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('detachKeys', $detachKeys),
                QueryParam::init('logs', $logs),
                QueryParam::init('stream', $stream),
                QueryParam::init('stdin', $stdin),
                QueryParam::init('stdout', $stdout),
                QueryParam::init('stderr', $stderr)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter', ContainersAttachWs400ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersAttachWs404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersAttachWs500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns which files in a container's filesystem have been added, deleted,
     * or modified. The `Kind` of modification can be one of:
     *
     * - `0`: Modified
     * - `1`: Added
     * - `2`: Deleted
     *
     *
     * @param string $id ID or name of the container
     *
     * @return ContainersChangesResponse[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerChanges(string $id): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/containers/{id}/changes')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersChanges404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersChanges500ErrorException::class))
            ->type(ContainersChangesResponse::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Export the contents of a container as a tarball.
     *
     * @param string $id ID or name of the container
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerExport(string $id): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/containers/{id}/export')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersExport404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error'));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Return low-level information about a container.
     *
     * @param string $id ID or name of the container
     * @param bool|null $size Return the size of container as fields `SizeRw` and `SizeRootFs`
     *
     * @return ContainersJsonResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerInspect(string $id, ?bool $size = false): ContainersJsonResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/containers/{id}/json')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('size', $size));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersJson404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersJson500ErrorException::class))
            ->type(ContainersJsonResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Send a POSIX signal to a container, defaulting to killing to the container.
     *
     * @param string $id ID or name of the container
     * @param string|null $signal Signal to send to the container as an integer or string (e.g.
     *        `SIGINT`)
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerKill(string $id, ?string $signal = 'SIGKILL'): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/{id}/kill')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('signal', $signal));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersKill404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersKill500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get `stdout` and `stderr` logs from a container.
     *
     * Note: This endpoint works only for containers with the `json-file` or `journald` logging driver.
     *
     *
     * @param string $id ID or name of the container
     * @param bool|null $follow Return the logs as a stream. This will return a `101` HTTP response
     *        with a `Connection: upgrade` header, then hijack the HTTP connection to send raw
     *        output. For more information about hijacking and the stream format, [see the
     *        documentation for the attach endpoint](#operation/ContainerAttach).
     * @param bool|null $stdout Return logs from `stdout`
     * @param bool|null $stderr Return logs from `stderr`
     * @param int|null $since Only return logs since this time, as a UNIX timestamp
     * @param bool|null $timestamps Add timestamps to every log line
     * @param string|null $tail Only return this number of log lines from the end of the logs.
     *        Specify as an integer or `all` to output all log lines.
     *
     * @return string Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerLogs(
        string $id,
        ?bool $follow = false,
        ?bool $stdout = false,
        ?bool $stderr = false,
        ?int $since = 0,
        ?bool $timestamps = false,
        ?string $tail = 'all'
    ): string {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/containers/{id}/logs')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('follow', $follow),
                QueryParam::init('stdout', $stdout),
                QueryParam::init('stderr', $stderr),
                QueryParam::init('since', $since),
                QueryParam::init('timestamps', $timestamps),
                QueryParam::init('tail', $tail)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersLogs404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersLogs500ErrorException::class));

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Use the cgroups freezer to suspend all processes in a container.
     *
     * Traditionally, when suspending a process the `SIGSTOP` signal is used, which is observable by the
     * process being suspended. With the cgroups freezer the process is unaware, and unable to capture,
     * that it is being suspended, and subsequently resumed.
     *
     *
     * @param string $id ID or name of the container
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerPause(string $id): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/{id}/pause')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersPause404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersPause500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID or name of the container
     * @param string $name New name for the container
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerRename(string $id, string $name): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/{id}/rename')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('name', $name));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersRename404ErrorException::class))
            ->throwErrorOn('409', ErrorType::init('name already in use', ContainersRename409ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersRename500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Resize the TTY for a container. You must restart the container for the resize to take effect.
     *
     * @param string $id ID or name of the container
     * @param int|null $h Height of the tty session in characters
     * @param int|null $w Width of the tty session in characters
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerResize(string $id, ?int $h = null, ?int $w = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/{id}/resize')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('h', $h), QueryParam::init('w', $w));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersResize404ErrorException::class))
            ->throwErrorOn(
                '500',
                ErrorType::init('cannot resize container', ContainersResize500ErrorException::class)
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID or name of the container
     * @param int|null $t Number of seconds to wait before killing the container
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerRestart(string $id, ?int $t = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/{id}/restart')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('t', $t));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersRestart404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersRestart500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID or name of the container
     * @param string|null $detachKeys Override the key sequence for detaching a container. Format is
     *        a single character `[a-Z]` or `ctrl-<value>` where `<value>` is one of: `a-z`, `@`,
     *        `^`, `[`, `,` or `_`.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerStart(string $id, ?string $detachKeys = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/{id}/start')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('detachKeys', $detachKeys));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersStart404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersStart500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This endpoint returns a live stream of a container’s resource usage
     * statistics.
     *
     * The `precpu_stats` is the CPU statistic of last read, which is used
     * for calculating the CPU usage percentage. It is not the same as the
     * `cpu_stats` field.
     *
     * If either `precpu_stats.online_cpus` or `cpu_stats.online_cpus` is
     * nil then for compatibility with older daemons the length of the
     * corresponding `cpu_usage.percpu_usage` array should be used.
     *
     *
     * @param string $id ID or name of the container
     * @param bool|null $stream Stream the output. If false, the stats will be output once and then
     *        it will disconnect.
     *
     * @return array Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerStats(string $id, ?bool $stream = true): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/containers/{id}/stats')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('stream', $stream));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersStats404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersStats500ErrorException::class));

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID or name of the container
     * @param int|null $t Number of seconds to wait before killing the container
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerStop(string $id, ?int $t = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/{id}/stop')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('t', $t));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersStop404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersStop500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * On Unix systems, this is done by running the `ps` command. This endpoint is not supported on Windows.
     *
     * @param string $id ID or name of the container
     * @param string|null $psArgs The arguments to pass to `ps`. For example, `aux`
     *
     * @return ContainersTopResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerTop(string $id, ?string $psArgs = '-ef'): ContainersTopResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/containers/{id}/top')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('ps_args', $psArgs));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersTop404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersTop500ErrorException::class))
            ->type(ContainersTopResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Resume a container which has been paused.
     *
     * @param string $id ID or name of the container
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerUnpause(string $id): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/{id}/unpause')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersUnpause404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersUnpause500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Change various configuration options of a container without having to recreate it.
     *
     * @param string $id ID or name of the container
     * @param ContainersUpdateRequest $body
     *
     * @return ContainersUpdateResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerUpdate(string $id, ContainersUpdateRequest $body): ContainersUpdateResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/{id}/update')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersUpdate404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersUpdate500ErrorException::class))
            ->type(ContainersUpdateResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Block until a container stops, then returns the exit code.
     *
     * @param string $id ID or name of the container
     * @param string|null $condition Wait until a container state reaches the given condition,
     *        either 'not-running' (default), 'next-exit', or 'removed'.
     *
     * @return ContainersWaitResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerWait(string $id, ?string $condition = 'not-running'): ContainersWaitResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/{id}/wait')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('condition', $condition));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersWait404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ContainersWait500ErrorException::class))
            ->type(ContainersWaitResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
