<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\DistributionJson401ErrorException;
use DockerLib\Exceptions\DistributionJson500ErrorException;
use DockerLib\Models\DistributionJsonResponse;

class DistributionController extends BaseController
{
    /**
     * Return image digest and platform information by contacting the registry.
     *
     * @param string $name Image name or id
     *
     * @return DistributionJsonResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function distributionInspect(string $name): DistributionJsonResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/distribution/{name}/json')
            ->parameters(TemplateParam::init('name', $name));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Failed authentication or no image found',
                    DistributionJson401ErrorException::class
                )
            )
            ->throwErrorOn('500', ErrorType::init('Server error', DistributionJson500ErrorException::class))
            ->type(DistributionJsonResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
