<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\ContainersExec404ErrorException;
use DockerLib\Exceptions\ContainersExec409ErrorException;
use DockerLib\Exceptions\ContainersExec500ErrorException;
use DockerLib\Exceptions\ExecJson404ErrorException;
use DockerLib\Exceptions\ExecJson500ErrorException;
use DockerLib\Exceptions\ExecResize404ErrorException;
use DockerLib\Models\ContainersExecRequest;
use DockerLib\Models\ContainersExecResponse;
use DockerLib\Models\ExecJsonResponse;
use DockerLib\Models\ExecStartRequest;

class ExecController extends BaseController
{
    /**
     * Run a command inside a running container.
     *
     * @param string $id ID or name of container
     * @param ContainersExecRequest $body Exec configuration
     *
     * @return ContainersExecResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function containerExec(string $id, ContainersExecRequest $body): ContainersExecResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/containers/{id}/exec')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', ContainersExec404ErrorException::class))
            ->throwErrorOn('409', ErrorType::init('container is paused', ContainersExec409ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Server error', ContainersExec500ErrorException::class))
            ->type(ContainersExecResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Return low-level information about an exec instance.
     *
     * @param string $id Exec instance ID
     *
     * @return ExecJsonResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function execInspect(string $id): ExecJsonResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/exec/{id}/json')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('No such exec instance', ExecJson404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Server error', ExecJson500ErrorException::class))
            ->type(ExecJsonResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Resize the TTY session used by an exec instance. This endpoint only works if `tty` was specified as
     * part of creating and starting the exec instance.
     *
     * @param string $id Exec instance ID
     * @param int|null $h Height of the TTY session in characters
     * @param int|null $w Width of the TTY session in characters
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function execResize(string $id, ?int $h = null, ?int $w = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/exec/{id}/resize')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('h', $h), QueryParam::init('w', $w));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('No such exec instance', ExecResize404ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Starts a previously set up exec instance. If detach is true, this endpoint returns immediately after
     * starting the command. Otherwise, it sets up an interactive session with the command.
     *
     * @param string $id Exec instance ID
     * @param ExecStartRequest|null $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function execStart(string $id, ?ExecStartRequest $body = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/exec/{id}/start')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('No such exec instance'))
            ->throwErrorOn('409', ErrorType::init('Container is stopped or paused'));

        $this->execute($_reqBuilder, $_resHandler);
    }
}
