<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\V2NamespacesDeleteImages400ErrorException;
use DockerLib\Exceptions\V2NamespacesDeleteImages403ErrorException;
use DockerLib\Exceptions\V2NamespacesRepositoriesImages401ErrorException;
use DockerLib\Exceptions\V2NamespacesRepositoriesImages403ErrorException;
use DockerLib\Exceptions\V2NamespacesRepositoriesImagesDigestTags401ErrorException;
use DockerLib\Exceptions\V2NamespacesRepositoriesImagesDigestTags403ErrorException;
use DockerLib\Exceptions\V2NamespacesRepositoriesImagesSummary401ErrorException;
use DockerLib\Models\Ordering1Enum;
use DockerLib\Models\Status31Enum;
use DockerLib\Models\V2NamespacesDeleteImagesRequest;
use DockerLib\Models\V2NamespacesDeleteImagesResponse;
use DockerLib\Models\V2NamespacesRepositoriesImagesDigestTagsResponse;
use DockerLib\Models\V2NamespacesRepositoriesImagesResponse;
use DockerLib\Models\V2NamespacesRepositoriesImagesSummaryResponse;

class ImagesController extends BaseController
{
    /**
     * Deletes one or more images within a namespace. This is currently limited to a single
     * repository.
     *
     * If you attempt to delete images that are marked as active or are currently tagged, the deletion does
     * not happen and it displays the warnings.
     * To continue with the deletion, you must ignore these warnings by putting them in the
     * `ignore_warnings` property.
     *
     * Deleting a currently tagged image deletes the tag from the repository.
     *
     * You cannot ignore errors. It is not possible to directly delete children of multi-arch images.
     *
     *
     * @param string $mNamespace Namespace of the repository.
     * @param V2NamespacesDeleteImagesRequest $body Delete request.
     *
     * @return V2NamespacesDeleteImagesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postNamespacesDeleteImages(
        string $mNamespace,
        V2NamespacesDeleteImagesRequest $body
    ): V2NamespacesDeleteImagesResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/namespaces/{namespace}/delete-images')
            ->parameters(
                TemplateParam::init('namespace', $mNamespace),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Deletion not possible', V2NamespacesDeleteImages400ErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - this API is only available to users on Pro or Team plans',
                    V2NamespacesDeleteImages403ErrorException::class
                )
            )
            ->type(V2NamespacesDeleteImagesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Gets details on the images in a repository.
     *
     * @param string $mNamespace Namespace of the repository.
     * @param string $repository Name of the repository.
     * @param string|null $status Filters to only show images of this status.
     * @param bool|null $currentlyTagged Filters to only show images with: - `true`: at least 1
     *        current tag.
     *        - `false`: no current tags.
     * @param string|null $ordering Orders the results by this property. Prefixing with `-` sorts by
     *        descending order.
     * @param string|null $activeFrom Sets the time from which an image must have been pushed or
     *        pulled to
     *        be counted as active.
     *
     *        Defaults to 1 month before the current time.
     * @param int|null $page Page number to get. Defaults to 1.
     * @param int|null $pageSize Number of images to get per page. Defaults to 10. Max of 100.
     *
     * @return V2NamespacesRepositoriesImagesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getNamespacesRepositoriesImages(
        string $mNamespace,
        string $repository,
        ?string $status = null,
        ?bool $currentlyTagged = null,
        ?string $ordering = null,
        ?string $activeFrom = null,
        ?int $page = null,
        ?int $pageSize = null
    ): V2NamespacesRepositoriesImagesResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v2/namespaces/{namespace}/repositories/{repository}/images'
        )
            ->parameters(
                TemplateParam::init('namespace', $mNamespace),
                TemplateParam::init('repository', $repository),
                QueryParam::init('status', $status)->serializeBy([Status31Enum::class, 'checkValue']),
                QueryParam::init('currently_tagged', $currentlyTagged),
                QueryParam::init('ordering', $ordering)->serializeBy([Ordering1Enum::class, 'checkValue']),
                QueryParam::init('active_from', $activeFrom),
                QueryParam::init('page', $page),
                QueryParam::init('page_size', $pageSize)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - user does not have read access to the namespace.',
                    V2NamespacesRepositoriesImages401ErrorException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - this API is only available to users on Pro or Team plans.',
                    V2NamespacesRepositoriesImages403ErrorException::class
                )
            )
            ->type(V2NamespacesRepositoriesImagesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Gets the number of images in a repository and the number of images
     * counted as active and inactive.
     *
     *
     * @param string $mNamespace Namespace of the repository.
     * @param string $repository Name of the repository.
     * @param string|null $activeFrom Sets the time from which an image must have been pushed or
     *        pulled to
     *        be counted as active.
     *
     *        Defaults to 1 month before the current time.
     *
     * @return V2NamespacesRepositoriesImagesSummaryResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getNamespacesRepositoriesImagesSummary(
        string $mNamespace,
        string $repository,
        ?string $activeFrom = null
    ): V2NamespacesRepositoriesImagesSummaryResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v2/namespaces/{namespace}/repositories/{repository}/images-summary'
        )
            ->parameters(
                TemplateParam::init('namespace', $mNamespace),
                TemplateParam::init('repository', $repository),
                QueryParam::init('active_from', $activeFrom)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - user does not have read access to the namespace',
                    V2NamespacesRepositoriesImagesSummary401ErrorException::class
                )
            )
            ->type(V2NamespacesRepositoriesImagesSummaryResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Gets current and historical tags for an image.
     *
     * @param string $mNamespace Namespace of the repository.
     * @param string $repository Name of the repository.
     * @param string $digest Digest of the image.
     * @param int|null $page Page number to get. Defaults to 1.
     * @param int|null $pageSize Number of images to get per page. Defaults to 10. Max of 100.
     *
     * @return V2NamespacesRepositoriesImagesDigestTagsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getNamespacesRepositoriesImagesTags(
        string $mNamespace,
        string $repository,
        string $digest,
        ?int $page = null,
        ?int $pageSize = null
    ): V2NamespacesRepositoriesImagesDigestTagsResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v2/namespaces/{namespace}/repositories/{repository}/images/{digest}/tags'
        )
            ->parameters(
                TemplateParam::init('namespace', $mNamespace),
                TemplateParam::init('repository', $repository),
                TemplateParam::init('digest', $digest),
                QueryParam::init('page', $page),
                QueryParam::init('page_size', $pageSize)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - user does not have read access to the namespace',
                    V2NamespacesRepositoriesImagesDigestTags401ErrorException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - this API is only available to users on Pro or Team plans',
                    V2NamespacesRepositoriesImagesDigestTags403ErrorException::class
                )
            )
            ->type(V2NamespacesRepositoriesImagesDigestTagsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
