<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\Build400ErrorException;
use DockerLib\Exceptions\Build500ErrorException;
use DockerLib\Exceptions\BuildPrune500ErrorException;
use DockerLib\Exceptions\Commit404ErrorException;
use DockerLib\Exceptions\Commit500ErrorException;
use DockerLib\Exceptions\Images404ErrorException;
use DockerLib\Exceptions\Images409ErrorException;
use DockerLib\Exceptions\Images500ErrorException;
use DockerLib\Exceptions\ImagesCreate404ErrorException;
use DockerLib\Exceptions\ImagesCreate500ErrorException;
use DockerLib\Exceptions\ImagesHistory404ErrorException;
use DockerLib\Exceptions\ImagesHistory500ErrorException;
use DockerLib\Exceptions\ImagesJson404ErrorException;
use DockerLib\Exceptions\ImagesJson500ErrorException;
use DockerLib\Exceptions\ImagesLoad500ErrorException;
use DockerLib\Exceptions\ImagesPrune500ErrorException;
use DockerLib\Exceptions\ImagesPush404ErrorException;
use DockerLib\Exceptions\ImagesPush500ErrorException;
use DockerLib\Exceptions\ImagesSearch500ErrorException;
use DockerLib\Exceptions\ImagesTag400ErrorException;
use DockerLib\Exceptions\ImagesTag404ErrorException;
use DockerLib\Exceptions\ImagesTag409ErrorException;
use DockerLib\Exceptions\ImagesTag500ErrorException;
use DockerLib\Models\BuildPruneResponse;
use DockerLib\Models\CommitRequest;
use DockerLib\Models\CommitResponse;
use DockerLib\Models\ContentType1Enum;
use DockerLib\Models\ContentTypeEnum;
use DockerLib\Models\Image;
use DockerLib\Models\ImageDeleteResponseItem;
use DockerLib\Models\ImagesHistoryResponse;
use DockerLib\Models\ImagesPruneResponse;
use DockerLib\Models\ImagesSearchResponse;
use DockerLib\Models\ImageSummary;
use DockerLib\Utils\FileWrapper;

class ImageController extends BaseController
{
    /**
     * Build an image from a tar archive with a `Dockerfile` in it.
     *
     * The `Dockerfile` specifies how the image is built from the tar archive. It is typically in the
     * archive's root, but can be at a different path or have a different name by specifying the
     * `dockerfile` parameter. [See the `Dockerfile` reference for more information](https://docs.docker.
     * com/engine/reference/builder/).
     *
     * The Docker daemon performs a preliminary validation of the `Dockerfile` before starting the build,
     * and returns an error if the syntax is incorrect. After that, each instruction is run one-by-one
     * until the ID of the new image is output.
     *
     * The build is canceled if the client drops the connection by quitting or being killed.
     *
     *
     * @param string|null $dockerfile Path within the build context to the `Dockerfile`. This is
     *        ignored if `remote` is specified and points to an external `Dockerfile`.
     * @param string|null $t A name and optional tag to apply to the image in the `name:tag` format.
     *        If you omit the tag the default `latest` value is assumed. You can provide several
     *        `t` parameters.
     * @param string|null $extrahosts Extra hosts to add to /etc/hosts
     * @param string|null $remote A Git repository URI or HTTP/HTTPS context URI. If the URI points
     *        to a single text file, the file’s contents are placed into a file called
     *        `Dockerfile` and the image is built from that file. If the URI points to a tarball,
     *        the file is downloaded by the daemon and the contents therein used as the context
     *        for the build. If the URI points to a tarball and the `dockerfile` parameter is also
     *        specified, there must be a file with the corresponding path inside the tarball.
     * @param bool|null $q Suppress verbose build output.
     * @param bool|null $nocache Do not use the cache when building the image.
     * @param string|null $cachefrom JSON array of images used for build cache resolution.
     * @param string|null $pull Attempt to pull the image even if an older image exists locally.
     * @param bool|null $rm Remove intermediate containers after a successful build.
     * @param bool|null $forcerm Always remove intermediate containers, even upon failure.
     * @param int|null $memory Set memory limit for build.
     * @param int|null $memswap Total memory (memory + swap). Set as `-1` to disable swap.
     * @param int|null $cpushares CPU shares (relative weight).
     * @param string|null $cpusetcpus CPUs in which to allow execution (e.g., `0-3`, `0,1`).
     * @param int|null $cpuperiod The length of a CPU period in microseconds.
     * @param int|null $cpuquota Microseconds of CPU time that the container can get in a CPU
     *        period.
     * @param int|null $buildargs JSON map of string pairs for build-time variables. Users pass
     *        these values at build-time. Docker uses the buildargs as the environment context for
     *        commands run via the `Dockerfile` RUN instruction, or for variable expansion in
     *        other `Dockerfile` instructions. This is not meant for passing secret values. [Read
     *        more about the buildargs instruction.](https://docs.docker.
     *        com/engine/reference/builder/#arg)
     * @param int|null $shmsize Size of `/dev/shm` in bytes. The size must be greater than 0. If
     *        omitted the system uses 64MB.
     * @param bool|null $squash Squash the resulting images layers into a single layer.
     *        *(Experimental release only.)*
     * @param string|null $labels Arbitrary key/value labels to set on the image, as a JSON map of
     *        string pairs.
     * @param string|null $networkmode Sets the networking mode for the run commands during build.
     *        Supported standard values are: `bridge`, `host`, `none`, and `container:<name|id>`.
     *        Any other value is taken as a custom network's name to which this container should
     *        connect to.
     * @param string|null $contentType
     * @param string|null $xRegistryConfig This is a base64-encoded JSON object with auth
     *        configurations for multiple registries that a build may refer to.
     *
     *        The key is a registry URL, and the value is an auth configuration object, [as
     *        described in the authentication section](#section/Authentication). For example:
     *
     *        ```
     *        {
     *        "docker.example.com": {
     *        "username": "janedoe",
     *        "password": "hunter2"
     *        },
     *        "https://index.docker.io/v1/": {
     *        "username": "mobydock",
     *        "password": "conta1n3rize14"
     *        }
     *        }
     *        ```
     *
     *        Only the registry domain name (and port if not the default 443) are required.
     *        However, for legacy reasons, the Docker Hub registry must be specified with both a
     *        `https://` prefix and a `/v1/` suffix even though Docker will prefer to use the v2
     *        registry API.
     * @param FileWrapper|null $body A tar archive compressed with one of the following algorithms:
     *        identity (no compression), gzip, bzip2, xz.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imageBuild(
        ?string $dockerfile = 'Dockerfile',
        ?string $t = null,
        ?string $extrahosts = null,
        ?string $remote = null,
        ?bool $q = false,
        ?bool $nocache = false,
        ?string $cachefrom = null,
        ?string $pull = null,
        ?bool $rm = true,
        ?bool $forcerm = false,
        ?int $memory = null,
        ?int $memswap = null,
        ?int $cpushares = null,
        ?string $cpusetcpus = null,
        ?int $cpuperiod = null,
        ?int $cpuquota = null,
        ?int $buildargs = null,
        ?int $shmsize = null,
        ?bool $squash = null,
        ?string $labels = null,
        ?string $networkmode = null,
        ?string $contentType = null,
        ?string $xRegistryConfig = null,
        ?FileWrapper $body = null
    ): void {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/build')
            ->parameters(
                QueryParam::init('dockerfile', $dockerfile),
                QueryParam::init('t', $t),
                QueryParam::init('extrahosts', $extrahosts),
                QueryParam::init('remote', $remote),
                QueryParam::init('q', $q),
                QueryParam::init('nocache', $nocache),
                QueryParam::init('cachefrom', $cachefrom),
                QueryParam::init('pull', $pull),
                QueryParam::init('rm', $rm),
                QueryParam::init('forcerm', $forcerm),
                QueryParam::init('memory', $memory),
                QueryParam::init('memswap', $memswap),
                QueryParam::init('cpushares', $cpushares),
                QueryParam::init('cpusetcpus', $cpusetcpus),
                QueryParam::init('cpuperiod', $cpuperiod),
                QueryParam::init('cpuquota', $cpuquota),
                QueryParam::init('buildargs', $buildargs),
                QueryParam::init('shmsize', $shmsize),
                QueryParam::init('squash', $squash),
                QueryParam::init('labels', $labels),
                QueryParam::init('networkmode', $networkmode),
                HeaderParam::init('Content-type', $contentType)->serializeBy([ContentTypeEnum::class, 'checkValue']),
                HeaderParam::init('X-Registry-Config', $xRegistryConfig),
                FormParam::init('body', $body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad parameter', Build400ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Build500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return BuildPruneResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function buildPrune(): BuildPruneResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/build/prune');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Server error', BuildPrune500ErrorException::class))
            ->type(BuildPruneResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string|null $container The ID or name of the container to commit
     * @param string|null $repo Repository name for the created image
     * @param string|null $tag Tag name for the create image
     * @param string|null $comment Commit message
     * @param string|null $author Author of the image (e.g., `John Hannibal Smith
     *        <hannibal@a-team.com>`)
     * @param bool|null $pause Whether to pause the container before committing
     * @param string|null $changes `Dockerfile` instructions to apply while committing
     * @param CommitRequest|null $body The container configuration
     *
     * @return CommitResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imageCommit(
        ?string $container = null,
        ?string $repo = null,
        ?string $tag = null,
        ?string $comment = null,
        ?string $author = null,
        ?bool $pause = true,
        ?string $changes = null,
        ?CommitRequest $body = null
    ): CommitResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/commit')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                QueryParam::init('container', $container),
                QueryParam::init('repo', $repo),
                QueryParam::init('tag', $tag),
                QueryParam::init('comment', $comment),
                QueryParam::init('author', $author),
                QueryParam::init('pause', $pause),
                QueryParam::init('changes', $changes),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such container', Commit404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Commit500ErrorException::class))
            ->type(CommitResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create an image by either pulling it from a registry or importing it.
     *
     * @param string $contentType
     * @param string|null $fromImage Name of the image to pull. The name may include a tag or
     *        digest. This parameter may only be used when pulling an image. The pull is cancelled
     *        if the HTTP connection is closed.
     * @param string|null $fromSrc Source to import. The value may be a URL from which the image can
     *        be retrieved or `-` to read the image from the request body. This parameter may only
     *        be used when importing an image.
     * @param string|null $repo Repository name given to an image when it is imported. The repo may
     *        include a tag. This parameter may only be used when importing an image.
     * @param string|null $tag Tag or digest. If empty when pulling an image, this causes all tags
     *        for the given image to be pulled.
     * @param string|null $xRegistryAuth A base64-encoded auth configuration. [See the
     *        authentication section for details.](#section/Authentication)
     * @param FileWrapper|null $body Image content if the value `-` has been specified in fromSrc
     *        query parameter
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imageCreate(
        string $contentType,
        ?string $fromImage = null,
        ?string $fromSrc = null,
        ?string $repo = null,
        ?string $tag = null,
        ?string $xRegistryAuth = null,
        ?FileWrapper $body = null
    ): void {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/images/create')
            ->parameters(
                HeaderParam::init('Content-Type', $contentType)->serializeBy([ContentType1Enum::class, 'checkValue']),
                QueryParam::init('fromImage', $fromImage),
                QueryParam::init('fromSrc', $fromSrc),
                QueryParam::init('repo', $repo),
                QueryParam::init('tag', $tag),
                HeaderParam::init('X-Registry-Auth', $xRegistryAuth),
                FormParam::init('body', $body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'repository does not exist or no read access',
                    ImagesCreate404ErrorException::class
                )
            )
            ->throwErrorOn('500', ErrorType::init('server error', ImagesCreate500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get a tarball containing all images and metadata for several image repositories.
     *
     * For each value of the `names` parameter: if it is a specific name and tag (e.g. `ubuntu:latest`),
     * then only that image (and its parents) are returned; if it is an image ID, similarly only that image
     * (and its parents) are returned and there would be no names referenced in the 'repositories' file for
     * this image ID.
     *
     * For details on the format, see [the export image endpoint](#operation/ImageGet).
     *
     *
     * @param string[]|null $names Image names to filter by
     *
     * @return mixed Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imageGetAll(?array $names = null)
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/images/get')
            ->parameters(QueryParam::init('names', $names));

        $_resHandler = $this->responseHandler()->throwErrorOn('500', ErrorType::init('server error'));

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of images on the server. Note that it uses a different, smaller representation of an
     * image than inspecting a single image.
     *
     * @param bool|null $all Show all images. Only images from a final layer (no children) are shown
     *        by default.
     * @param string|null $filters A JSON encoded value of the filters (a `map[string][]string`) to
     *        process on the images list. Available filters:
     *
     *        - `before`=(`<image-name>[:<tag>]`,  `<image id>` or `<image@digest>`)
     *        - `dangling=true`
     *        - `label=key` or `label="key=value"` of an image label
     *        - `reference`=(`<image-name>[:<tag>]`)
     *        - `since`=(`<image-name>[:<tag>]`,  `<image id>` or `<image@digest>`)
     * @param bool|null $digests Show digest information as a `RepoDigests` field on each image.
     *
     * @return ImageSummary[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imageList(?bool $all = false, ?string $filters = null, ?bool $digests = false): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/images/json')
            ->parameters(
                QueryParam::init('all', $all),
                QueryParam::init('filters', $filters),
                QueryParam::init('digests', $digests)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', ImagesJson500ErrorException::class))
            ->type(ImageSummary::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Load a set of images and tags into a repository.
     *
     * For details on the format, see [the export image endpoint](#operation/ImageGet).
     *
     *
     * @param bool|null $quiet Suppress progress details during load.
     * @param array|null $body Tar archive containing images
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imageLoad(?bool $quiet = false, ?array $body = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/images/load')
            ->parameters(
                HeaderParam::init('Content-Type', 'text/plain'),
                QueryParam::init('quiet', $quiet),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', ImagesLoad500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string|null $filters Filters to process on the prune list, encoded as JSON (a
     *        `map[string][]string`). Available filters:
     *
     *        - `dangling=<boolean>` When set to `true` (or `1`), prune only
     *        unused *and* untagged images. When set to `false`
     *        (or `0`), all unused images are pruned.
     *        - `until=<string>` Prune images created before this timestamp. The `<timestamp>` can
     *        be Unix timestamps, date formatted timestamps, or Go duration strings (e.g. `10m`,
     *        `1h30m`) computed relative to the daemon machine’s time.
     *        - `label` (`label=<key>`, `label=<key>=<value>`, `label!=<key>`, or `label!
     *        =<key>=<value>`) Prune images with (or without, in case `label!=...` is used) the
     *        specified labels.
     *
     * @return ImagesPruneResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imagePrune(?string $filters = null): ImagesPruneResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/images/prune')
            ->parameters(QueryParam::init('filters', $filters));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Server error', ImagesPrune500ErrorException::class))
            ->type(ImagesPruneResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Search for an image on Docker Hub.
     *
     * @param string $term Term to search
     * @param int|null $limit Maximum number of results to return
     * @param string|null $filters A JSON encoded value of the filters (a `map[string][]string`) to
     *        process on the images list. Available filters:
     *
     *        - `is-automated=(true|false)`
     *        - `is-official=(true|false)`
     *        - `stars=<number>` Matches images that has at least 'number' stars.
     *
     * @return ImagesSearchResponse[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imageSearch(string $term, ?int $limit = null, ?string $filters = null): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/images/search')
            ->parameters(
                QueryParam::init('term', $term),
                QueryParam::init('limit', $limit),
                QueryParam::init('filters', $filters)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Server error', ImagesSearch500ErrorException::class))
            ->type(ImagesSearchResponse::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove an image, along with any untagged parent images that were
     * referenced by that image.
     *
     * Images can't be removed if they have descendant images, are being
     * used by a running container or are being used by a build.
     *
     *
     * @param string $name Image name or ID
     * @param bool|null $force Remove the image even if it is being used by stopped containers or
     *        has other tags
     * @param bool|null $noprune Do not delete untagged parent images
     *
     * @return ImageDeleteResponseItem[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imageDelete(string $name, ?bool $force = false, ?bool $noprune = false): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/images/{name}')
            ->parameters(
                TemplateParam::init('name', $name),
                QueryParam::init('force', $force),
                QueryParam::init('noprune', $noprune)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('No such image', Images404ErrorException::class))
            ->throwErrorOn('409', ErrorType::init('Conflict', Images409ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Server error', Images500ErrorException::class))
            ->type(ImageDeleteResponseItem::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get a tarball containing all images and metadata for a repository.
     *
     * If `name` is a specific name and tag (e.g. `ubuntu:latest`), then only that image (and its parents)
     * are returned. If `name` is an image ID, similarly only that image (and its parents) are returned,
     * but with the exclusion of the `repositories` file in the tarball, as there were no image names
     * referenced.
     *
     * ### Image tarball format
     *
     * An image tarball contains one directory per image layer (named using its long ID), each containing
     * these files:
     *
     * - `VERSION`: currently `1.0` - the file format version
     * - `json`: detailed layer information, similar to `docker inspect layer_id`
     * - `layer.tar`: A tarfile containing the filesystem changes in this layer
     *
     * The `layer.tar` file contains `aufs` style `.wh..wh.aufs` files and directories for storing
     * attribute changes and deletions.
     *
     * If the tarball defines a repository, the tarball should also include a `repositories` file at the
     * root that contains a list of repository and tag names mapped to layer IDs.
     *
     * ```json
     * {
     * "hello-world": {
     * "latest": "565a9d68a73f6706862bfe8409a7f659776d4d60a8d096eb4a3cbce6999cc2a1"
     * }
     * }
     * ```
     *
     *
     * @param string $name Image name or ID
     *
     * @return mixed Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imageGet(string $name)
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/images/{name}/get')
            ->parameters(TemplateParam::init('name', $name));

        $_resHandler = $this->responseHandler()->throwErrorOn('500', ErrorType::init('server error'));

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Return parent layers of an image.
     *
     * @param string $name Image name or ID
     *
     * @return ImagesHistoryResponse[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imageHistory(string $name): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/images/{name}/history')
            ->parameters(TemplateParam::init('name', $name));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('No such image', ImagesHistory404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Server error', ImagesHistory500ErrorException::class))
            ->type(ImagesHistoryResponse::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Return low-level information about an image.
     *
     * @param string $name Image name or id
     *
     * @return Image Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imageInspect(string $name): Image
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/images/{name}/json')
            ->parameters(TemplateParam::init('name', $name));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('No such image', ImagesJson404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Server error', ImagesJson500ErrorException::class))
            ->type(Image::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Push an image to a registry.
     *
     * If you wish to push an image on to a private registry, that image must already have a tag which
     * references the registry. For example, `registry.example.com/myimage:latest`.
     *
     * The push is cancelled if the HTTP connection is closed.
     *
     *
     * @param string $name Image name or ID.
     * @param string $xRegistryAuth A base64-encoded auth configuration. [See the authentication
     *        section for details.](#section/Authentication)
     * @param string|null $tag The tag to associate with the image on the registry.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imagePush(string $name, string $xRegistryAuth, ?string $tag = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/images/{name}/push')
            ->parameters(
                TemplateParam::init('name', $name),
                HeaderParam::init('X-Registry-Auth', $xRegistryAuth),
                QueryParam::init('tag', $tag)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('No such image', ImagesPush404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Server error', ImagesPush500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Tag an image so that it becomes part of a repository.
     *
     * @param string $name Image name or ID to tag.
     * @param string|null $repo The repository to tag in. For example, `someuser/someimage`.
     * @param string|null $tag The name of the new tag.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function imageTag(string $name, ?string $repo = null, ?string $tag = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/images/{name}/tag')
            ->parameters(
                TemplateParam::init('name', $name),
                QueryParam::init('repo', $repo),
                QueryParam::init('tag', $tag)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad parameter', ImagesTag400ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('No such image', ImagesTag404ErrorException::class))
            ->throwErrorOn('409', ErrorType::init('Conflict', ImagesTag409ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Server error', ImagesTag500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }
}
