<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\Networks403ErrorException;
use DockerLib\Exceptions\Networks404ErrorException;
use DockerLib\Exceptions\Networks500ErrorException;
use DockerLib\Exceptions\NetworksConnect403ErrorException;
use DockerLib\Exceptions\NetworksConnect404ErrorException;
use DockerLib\Exceptions\NetworksConnect500ErrorException;
use DockerLib\Exceptions\NetworksCreate403ErrorException;
use DockerLib\Exceptions\NetworksCreate404ErrorException;
use DockerLib\Exceptions\NetworksCreate500ErrorException;
use DockerLib\Exceptions\NetworksDisconnect403ErrorException;
use DockerLib\Exceptions\NetworksDisconnect404ErrorException;
use DockerLib\Exceptions\NetworksDisconnect500ErrorException;
use DockerLib\Exceptions\NetworksPrune500ErrorException;
use DockerLib\Models\ContentType1Enum;
use DockerLib\Models\Network;
use DockerLib\Models\NetworksCreateRequest;
use DockerLib\Models\NetworksCreateResponse;
use DockerLib\Models\NetworksDisconnectRequest;
use DockerLib\Models\NetworksPruneResponse;
use DockerLib\Utils\FileWrapper;

class NetworkController extends BaseController
{
    /**
     * Returns a list of networks. For details on the format, see [the network inspect
     * endpoint](#operation/NetworkInspect).
     *
     * Note that it uses a different, smaller representation of a network than inspecting a single network.
     * For example,
     * the list of containers attached to the network is not propagated in API versions 1.28 and up.
     *
     *
     * @param string|null $filters JSON encoded value of the filters (a `map[string][]string`) to
     *        process on the networks list. Available filters:
     *
     *        - `driver=<driver-name>` Matches a network's driver.
     *        - `id=<network-id>` Matches all or part of a network ID.
     *        - `label=<key>` or `label=<key>=<value>` of a network label.
     *        - `name=<network-name>` Matches all or part of a network name.
     *        - `scope=["swarm"|"global"|"local"]` Filters networks by scope (`swarm`, `global`,
     *        or `local`).
     *        - `type=["custom"|"builtin"]` Filters networks by type. The `custom` keyword returns
     *        all user-defined networks.
     *
     * @return Network[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function networkList(?string $filters = null): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/networks')
            ->parameters(QueryParam::init('filters', $filters));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Server error', Networks500ErrorException::class))
            ->type(Network::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param NetworksCreateRequest $body Network configuration
     *
     * @return NetworksCreateResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function networkCreate(NetworksCreateRequest $body): NetworksCreateResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/networks/create')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'operation not supported for pre-defined networks',
                    NetworksCreate403ErrorException::class
                )
            )
            ->throwErrorOn('404', ErrorType::init('plugin not found', NetworksCreate404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Server error', NetworksCreate500ErrorException::class))
            ->type(NetworksCreateResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string|null $filters Filters to process on the prune list, encoded as JSON (a
     *        `map[string][]string`).
     *
     *        Available filters:
     *        - `until=<timestamp>` Prune networks created before this timestamp. The
     *        `<timestamp>` can be Unix timestamps, date formatted timestamps, or Go duration
     *        strings (e.g. `10m`, `1h30m`) computed relative to the daemon machine’s time.
     *        - `label` (`label=<key>`, `label=<key>=<value>`, `label!=<key>`, or `label!
     *        =<key>=<value>`) Prune networks with (or without, in case `label!=...` is used) the
     *        specified labels.
     *
     * @return NetworksPruneResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function networkPrune(?string $filters = null): NetworksPruneResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/networks/prune')
            ->parameters(QueryParam::init('filters', $filters));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Server error', NetworksPrune500ErrorException::class))
            ->type(NetworksPruneResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id Network ID or name
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function networkDelete(string $id): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/networks/{id}')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'operation not supported for pre-defined networks',
                    Networks403ErrorException::class
                )
            )
            ->throwErrorOn('404', ErrorType::init('no such network', Networks404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Server error', Networks500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id Network ID or name
     * @param bool|null $verbose Detailed inspect output for troubleshooting
     * @param string|null $scope Filter the network by scope (swarm, global, or local)
     *
     * @return Network Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function networkInspect(string $id, ?bool $verbose = false, ?string $scope = null): Network
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/networks/{id}')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('verbose', $verbose),
                QueryParam::init('scope', $scope)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('Network not found', Networks404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Server error', Networks500ErrorException::class))
            ->type(Network::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id Network ID or name
     * @param string $contentType
     * @param FileWrapper $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function networkConnect(string $id, string $contentType, FileWrapper $body): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/networks/{id}/connect')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', $contentType)->serializeBy([ContentType1Enum::class, 'checkValue']),
                FormParam::init('body', $body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Operation not supported for swarm scoped networks',
                    NetworksConnect403ErrorException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('Network or container not found', NetworksConnect404ErrorException::class)
            )
            ->throwErrorOn('500', ErrorType::init('Server error', NetworksConnect500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id Network ID or name
     * @param NetworksDisconnectRequest $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function networkDisconnect(string $id, NetworksDisconnectRequest $body): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/networks/{id}/disconnect')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Operation not supported for swarm scoped networks',
                    NetworksDisconnect403ErrorException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('Network or container not found', NetworksDisconnect404ErrorException::class)
            )
            ->throwErrorOn('500', ErrorType::init('Server error', NetworksDisconnect500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }
}
