<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\Nodes404ErrorException;
use DockerLib\Exceptions\Nodes500ErrorException;
use DockerLib\Exceptions\Nodes503ErrorException;
use DockerLib\Exceptions\NodesUpdate400ErrorException;
use DockerLib\Exceptions\NodesUpdate404ErrorException;
use DockerLib\Exceptions\NodesUpdate500ErrorException;
use DockerLib\Exceptions\NodesUpdate503ErrorException;
use DockerLib\Models\Node;
use DockerLib\Models\NodeSpec;

class NodeController extends BaseController
{
    /**
     * @param string|null $filters Filters to process on the nodes list, encoded as JSON (a
     *        `map[string][]string`).
     *
     *        Available filters:
     *        - `id=<node id>`
     *        - `label=<engine label>`
     *        - `membership=`(`accepted`|`pending`)`
     *        - `name=<node name>`
     *        - `role=`(`manager`|`worker`)`
     *
     * @return Node[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function nodeList(?string $filters = null): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/nodes')
            ->parameters(QueryParam::init('filters', $filters));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', Nodes500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Nodes503ErrorException::class))
            ->type(Node::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id The ID or name of the node
     * @param bool|null $force Force remove a node from the swarm
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function nodeDelete(string $id, ?bool $force = false): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/nodes/{id}')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('force', $force));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such node', Nodes404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Nodes500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Nodes503ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id The ID or name of the node
     *
     * @return Node Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function nodeInspect(string $id): Node
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/nodes/{id}')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such node', Nodes404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Nodes500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Nodes503ErrorException::class))
            ->type(Node::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id The ID of the node
     * @param int $version The version number of the node object being updated. This is required to
     *        avoid conflicting writes.
     * @param NodeSpec|null $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function nodeUpdate(string $id, int $version, ?NodeSpec $body = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/nodes/{id}/update')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('version', $version),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter', NodesUpdate400ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('no such node', NodesUpdate404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', NodesUpdate500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is not part of a swarm', NodesUpdate503ErrorException::class)
            );

        $this->execute($_reqBuilder, $_resHandler);
    }
}
