<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\ErrorException;
use DockerLib\Models\OrgSettings;
use DockerLib\Models\V2OrgsSettingsRequest;

class OrgSettingsController extends BaseController
{
    /**
     * Returns organization settings by name.
     *
     *
     * @param string $name Name of the organization.
     *
     * @return OrgSettings Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getorganizationsettings(string $name): OrgSettings
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/orgs/{name}/settings')
            ->parameters(TemplateParam::init('name', $name));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', ErrorException::class))
            ->type(OrgSettings::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates an organization's settings. Some settings are only used when the
     * organization is on a business plan.
     *
     * ***Only users in the "owners" group of the organization can use this endpoint.***
     *
     * The following settings are only used on a business plan:
     * - `restricted_images`
     *
     *
     * @param string $name Name of the organization.
     * @param V2OrgsSettingsRequest $body
     *
     * @return OrgSettings Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateorganizationsettings(string $name, V2OrgsSettingsRequest $body): OrgSettings
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v2/orgs/{name}/settings')
            ->parameters(
                TemplateParam::init('name', $name),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', ErrorException::class))
            ->type(OrgSettings::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
