<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\Plugins404ErrorException;
use DockerLib\Exceptions\Plugins500ErrorException;
use DockerLib\Exceptions\PluginsCreate500ErrorException;
use DockerLib\Exceptions\PluginsDisable404ErrorException;
use DockerLib\Exceptions\PluginsDisable500ErrorException;
use DockerLib\Exceptions\PluginsEnable404ErrorException;
use DockerLib\Exceptions\PluginsEnable500ErrorException;
use DockerLib\Exceptions\PluginsJson404ErrorException;
use DockerLib\Exceptions\PluginsJson500ErrorException;
use DockerLib\Exceptions\PluginsPrivileges500ErrorException;
use DockerLib\Exceptions\PluginsPull500ErrorException;
use DockerLib\Exceptions\PluginsPush404ErrorException;
use DockerLib\Exceptions\PluginsPush500ErrorException;
use DockerLib\Exceptions\PluginsSet404ErrorException;
use DockerLib\Exceptions\PluginsSet500ErrorException;
use DockerLib\Exceptions\PluginsUpgrade404ErrorException;
use DockerLib\Exceptions\PluginsUpgrade500ErrorException;
use DockerLib\Models\Plugin;
use DockerLib\Models\PluginPullBody;
use DockerLib\Models\PluginsJsonResponse;
use DockerLib\Models\PluginsPrivilegesResponse;
use DockerLib\Models\PluginsResponse;

class PluginController extends BaseController
{
    /**
     * Returns information about installed plugins.
     *
     * @param string|null $filters A JSON encoded value of the filters (a `map[string][]string`) to
     *        process on the plugin list. Available filters:
     *
     *        - `capability=<capability name>`
     *        - `enable=<true>|<false>`
     *
     * @return Plugin[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function pluginList(?string $filters = null): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/plugins')
            ->parameters(QueryParam::init('filters', $filters));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Server error', Plugins500ErrorException::class))
            ->type(Plugin::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $name The name of the plugin. The `:latest` tag is optional, and is the default
     *        if omitted.
     * @param array|null $body Path to tar containing plugin rootfs and manifest
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function pluginCreate(string $name, ?array $body = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/plugins/create')
            ->parameters(
                QueryParam::init('name', $name),
                HeaderParam::init('Content-Type', 'text/plain'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', PluginsCreate500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $remote The name of the plugin. The `:latest` tag is optional, and is the
     *        default if omitted.
     *
     * @return PluginsPrivilegesResponse[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getPluginPrivileges(string $remote): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/plugins/privileges')
            ->parameters(QueryParam::init('remote', $remote));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', PluginsPrivileges500ErrorException::class))
            ->type(PluginsPrivilegesResponse::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Pulls and installs a plugin. After the plugin is installed, it can be enabled using the [`POST
     * /plugins/{name}/enable` endpoint](#operation/PostPluginsEnable).
     *
     *
     * @param string $remote Remote reference for plugin to install. The `:latest` tag is optional,
     *        and is used as the default if omitted.
     * @param string|null $name Local name for the pulled plugin. The `:latest` tag is optional, and
     *        is used as the default if omitted.
     * @param string|null $xRegistryAuth A base64-encoded auth configuration to use when pulling a
     *        plugin from a registry. [See the authentication section for details.
     *        ](#section/Authentication)
     * @param PluginPullBody[]|null $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function pluginPull(
        string $remote,
        ?string $name = null,
        ?string $xRegistryAuth = null,
        ?array $body = null
    ): void {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/plugins/pull')
            ->parameters(
                QueryParam::init('remote', $remote),
                HeaderParam::init('Content-Type', 'application/json'),
                QueryParam::init('name', $name),
                HeaderParam::init('X-Registry-Auth', $xRegistryAuth),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', PluginsPull500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $name The name of the plugin. The `:latest` tag is optional, and is the default
     *        if omitted.
     * @param bool|null $force Disable the plugin before removing. This may result in issues if the
     *        plugin is in use by a container.
     *
     * @return PluginsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function pluginDelete(string $name, ?bool $force = false): PluginsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/plugins/{name}')
            ->parameters(TemplateParam::init('name', $name), QueryParam::init('force', $force));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('plugin is not installed', Plugins404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Plugins500ErrorException::class))
            ->type(PluginsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $name The name of the plugin. The `:latest` tag is optional, and is the default
     *        if omitted.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function pluginDisable(string $name): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/plugins/{name}/disable')
            ->parameters(TemplateParam::init('name', $name));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init('plugin is not installed', PluginsDisable404ErrorException::class)
            )
            ->throwErrorOn('500', ErrorType::init('server error', PluginsDisable500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $name The name of the plugin. The `:latest` tag is optional, and is the default
     *        if omitted.
     * @param int|null $timeout Set the HTTP client timeout (in seconds)
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function pluginEnable(string $name, ?int $timeout = 0): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/plugins/{name}/enable')
            ->parameters(TemplateParam::init('name', $name), QueryParam::init('timeout', $timeout));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init('plugin is not installed', PluginsEnable404ErrorException::class)
            )
            ->throwErrorOn('500', ErrorType::init('server error', PluginsEnable500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $name The name of the plugin. The `:latest` tag is optional, and is the default
     *        if omitted.
     *
     * @return PluginsJsonResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function pluginInspect(string $name): PluginsJsonResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/plugins/{name}/json')
            ->parameters(TemplateParam::init('name', $name));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('plugin is not installed', PluginsJson404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', PluginsJson500ErrorException::class))
            ->type(PluginsJsonResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Push a plugin to the registry.
     *
     *
     * @param string $name The name of the plugin. The `:latest` tag is optional, and is the default
     *        if omitted.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function pluginPush(string $name): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/plugins/{name}/push')
            ->parameters(TemplateParam::init('name', $name));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('plugin not installed', PluginsPush404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', PluginsPush500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $name The name of the plugin. The `:latest` tag is optional, and is the default
     *        if omitted.
     * @param string[]|null $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function pluginSet(string $name, ?array $body = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/plugins/{name}/set')
            ->parameters(
                TemplateParam::init('name', $name),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('Plugin not installed', PluginsSet404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Server error', PluginsSet500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $name The name of the plugin. The `:latest` tag is optional, and is the default
     *        if omitted.
     * @param string $remote Remote reference to upgrade to. The `:latest` tag is optional, and is
     *        used as the default if omitted.
     * @param string|null $xRegistryAuth A base64-encoded auth configuration to use when pulling a
     *        plugin from a registry. [See the authentication section for details.
     *        ](#section/Authentication)
     * @param PluginPullBody[]|null $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function pluginUpgrade(
        string $name,
        string $remote,
        ?string $xRegistryAuth = null,
        ?array $body = null
    ): void {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/plugins/{name}/upgrade')
            ->parameters(
                TemplateParam::init('name', $name),
                QueryParam::init('remote', $remote),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('X-Registry-Auth', $xRegistryAuth),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('plugin not installed', PluginsUpgrade404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', PluginsUpgrade500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }
}
