<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\ErrorException;
use DockerLib\Models\PaginatedTags;
use DockerLib\Models\Tag;

class RepositoriesController extends BaseController
{
    /**
     * @param string $mNamespace
     * @param string $repository
     * @param int|null $page Page number to get. Defaults to 1.
     * @param int|null $pageSize Number of items to get per page. Defaults to 10. Max of 100.
     *
     * @return PaginatedTags Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listrepositorytags(
        string $mNamespace,
        string $repository,
        ?int $page = null,
        ?int $pageSize = null
    ): PaginatedTags {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v2/namespaces/{namespace}/repositories/{repository}/tags'
        )
            ->parameters(
                TemplateParam::init('namespace', $mNamespace),
                TemplateParam::init('repository', $repository),
                QueryParam::init('page', $page),
                QueryParam::init('page_size', $pageSize)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', ErrorException::class))
            ->type(PaginatedTags::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $mNamespace
     * @param string $repository
     * @param string $tag
     *
     * @return Tag Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function readrepositorytag(string $mNamespace, string $repository, string $tag): Tag
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v2/namespaces/{namespace}/repositories/{repository}/tags/{tag}'
        )
            ->parameters(
                TemplateParam::init('namespace', $mNamespace),
                TemplateParam::init('repository', $repository),
                TemplateParam::init('tag', $tag)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', ErrorException::class))
            ->type(Tag::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
