<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\ScimBadRequest1Exception;
use DockerLib\Exceptions\ScimErrorException;
use DockerLib\Models\ScimCreateUserRequest;
use DockerLib\Models\ScimGetResourceTypesResp;
use DockerLib\Models\ScimGetSchemasResp;
use DockerLib\Models\ScimGetUsersResp;
use DockerLib\Models\ScimResourceType;
use DockerLib\Models\ScimSchema;
use DockerLib\Models\ScimServiceProviderConfig;
use DockerLib\Models\ScimUpdateUserRequest;
use DockerLib\Models\ScimUser;
use DockerLib\Models\SortOrderEnum;

class ScimController extends BaseController
{
    /**
     * Returns all resource types supported for the SCIM configuration.
     *
     *
     * @return ScimGetResourceTypesResp Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listresourcetypes(): ScimGetResourceTypesResp
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/scim/2.0/ResourceTypes');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ScimErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal Error', ScimErrorException::class))
            ->type(ScimGetResourceTypesResp::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a resource type by name.
     *
     *
     * @param string $name
     *
     * @return ScimResourceType Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getaresourcetype(string $name): ScimResourceType
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/scim/2.0/ResourceTypes/{name}')
            ->parameters(TemplateParam::init('name', $name));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ScimErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', ScimErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal Error', ScimErrorException::class))
            ->type(ScimResourceType::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns all schemas supported for the SCIM configuration.
     *
     *
     * @return ScimGetSchemasResp Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listschemas(): ScimGetSchemasResp
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/scim/2.0/Schemas');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ScimErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal Error', ScimErrorException::class))
            ->type(ScimGetSchemasResp::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a schema by ID.
     *
     *
     * @param string $id
     *
     * @return ScimSchema Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getaschema(string $id): ScimSchema
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/scim/2.0/Schemas/{id}')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ScimErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', ScimErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal Error', ScimErrorException::class))
            ->type(ScimSchema::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a service provider config for Docker's configuration.
     *
     *
     * @return ScimServiceProviderConfig Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getserviceproviderconfig(): ScimServiceProviderConfig
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/scim/2.0/ServiceProviderConfig');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ScimErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal Error', ScimErrorException::class))
            ->type(ScimServiceProviderConfig::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * List users, returns paginated users for an organization. Use `startIndex`
     * and `count` query parameters to receive paginated results.
     *
     * **Sorting:**<br>
     * Sorting lets you to specify the order of returned resources by specifying
     * a combination of `sortBy` and `sortOrder` query parameters.
     *
     * The `sortBy` parameter specifies the attribute whose value will be used
     * to order the returned responses. The `sortOrder` parameter defines the
     * order in which the `sortBy` parameter is applied. Allowed values are
     * "ascending" and "descending".
     *
     * **Filtering:**<br>
     * You can request a subset of resources by specifying the `filter` query
     * parameter containing a filter expression. Attribute names and attribute
     * operators used in filters are case insensitive. The filter parameter
     * must contain at least one valid expression. Each expression must contain
     * an attribute name followed by an attribute operator and an optional
     * value.
     *
     * Supported operators are listed below.
     *
     * - `eq` equal
     * - `ne` not equal
     * - `co` contains
     * - `sw` starts with
     * - `and` Logical "and"
     * - `or` Logical "or"
     * - `not` "Not" function
     * - `()` Precedence grouping
     *
     *
     * @param int|null $startIndex
     * @param int|null $count
     * @param string|null $filter
     * @param string|null $attributes Comma delimited list of attributes to limit to in the
     *        response.
     * @param string|null $sortOrder
     * @param string|null $sortBy User attribute to sort by.
     *
     * @return ScimGetUsersResp Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listusers(
        ?int $startIndex = null,
        ?int $count = null,
        ?string $filter = null,
        ?string $attributes = null,
        ?string $sortOrder = null,
        ?string $sortBy = null
    ): ScimGetUsersResp {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/scim/2.0/Users')
            ->parameters(
                QueryParam::init('startIndex', $startIndex),
                QueryParam::init('count', $count),
                QueryParam::init('filter', $filter),
                QueryParam::init('attributes', $attributes),
                QueryParam::init('sortOrder', $sortOrder)->serializeBy([SortOrderEnum::class, 'checkValue']),
                QueryParam::init('sortBy', $sortBy)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', ScimBadRequest1Exception::class))
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ScimErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', ScimErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', ScimErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal Error', ScimErrorException::class))
            ->type(ScimGetUsersResp::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a user. If the user already exists by email, they are assigned
     * to the organization on the "company" team.
     *
     *
     * @param ScimCreateUserRequest $body
     *
     * @return ScimUser Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createuser(ScimCreateUserRequest $body): ScimUser
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/scim/2.0/Users')
            ->parameters(HeaderParam::init('Content-Type', 'application/scim+json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', ScimBadRequest1Exception::class))
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ScimErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', ScimErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', ScimErrorException::class))
            ->throwErrorOn('409', ErrorType::init('Conflict', ScimErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal Error', ScimErrorException::class))
            ->type(ScimUser::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a user by ID.
     *
     *
     * @param string $id The user ID.
     *
     * @return ScimUser Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getauser(string $id): ScimUser
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/scim/2.0/Users/{id}')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', ScimBadRequest1Exception::class))
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ScimErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', ScimErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', ScimErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal Error', ScimErrorException::class))
            ->type(ScimUser::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates a user. Use this route to change the user's name, activate,
     * and deactivate the user.
     *
     *
     * @param string $id The user ID.
     * @param ScimUpdateUserRequest $body
     *
     * @return ScimUser Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateauser(string $id, ScimUpdateUserRequest $body): ScimUser
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v2/scim/2.0/Users/{id}')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/scim+json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', ScimBadRequest1Exception::class))
            ->throwErrorOn('401', ErrorType::init('Unauthorized', ScimErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', ScimErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', ScimErrorException::class))
            ->throwErrorOn('409', ErrorType::init('Conflict', ScimErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal Error', ScimErrorException::class))
            ->type(ScimUser::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
