<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\Secrets404ErrorException;
use DockerLib\Exceptions\Secrets500ErrorException;
use DockerLib\Exceptions\Secrets503ErrorException;
use DockerLib\Exceptions\SecretsCreate409ErrorException;
use DockerLib\Exceptions\SecretsCreate500ErrorException;
use DockerLib\Exceptions\SecretsCreate503ErrorException;
use DockerLib\Exceptions\SecretsUpdate400ErrorException;
use DockerLib\Exceptions\SecretsUpdate404ErrorException;
use DockerLib\Exceptions\SecretsUpdate500ErrorException;
use DockerLib\Exceptions\SecretsUpdate503ErrorException;
use DockerLib\Models\Secret;
use DockerLib\Models\SecretsCreateResponse;
use DockerLib\Models\SecretSpec;

class SecretController extends BaseController
{
    /**
     * @param string|null $filters A JSON encoded value of the filters (a `map[string][]string`) to
     *        process on the secrets list. Available filters:
     *
     *        - `id=<secret id>`
     *        - `label=<key> or label=<key>=value`
     *        - `name=<secret name>`
     *        - `names=<secret name>`
     *
     * @return Secret[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function secretList(?string $filters = null): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/secrets')
            ->parameters(QueryParam::init('filters', $filters));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', Secrets500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Secrets503ErrorException::class))
            ->type(Secret::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param SecretSpec|null $body
     *
     * @return SecretsCreateResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function secretCreate(?SecretSpec $body = null): SecretsCreateResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/secrets/create')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '409',
                ErrorType::init('name conflicts with an existing object', SecretsCreate409ErrorException::class)
            )
            ->throwErrorOn('500', ErrorType::init('server error', SecretsCreate500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is not part of a swarm', SecretsCreate503ErrorException::class)
            )
            ->type(SecretsCreateResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID of the secret
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function secretDelete(string $id): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/secrets/{id}')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('secret not found', Secrets404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Secrets500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Secrets503ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID of the secret
     *
     * @return Secret Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function secretInspect(string $id): Secret
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/secrets/{id}')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('secret not found', Secrets404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Secrets500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Secrets503ErrorException::class))
            ->type(Secret::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id The ID or name of the secret
     * @param int $version The version number of the secret object being updated. This is required
     *        to avoid conflicting writes.
     * @param SecretSpec|null $body The spec of the secret to update. Currently, only the Labels
     *        field can be updated. All other fields must remain unchanged from the [SecretInspect
     *        endpoint](#operation/SecretInspect) response values.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function secretUpdate(string $id, int $version, ?SecretSpec $body = null): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/secrets/{id}/update')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('version', $version),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter', SecretsUpdate400ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('no such secret', SecretsUpdate404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', SecretsUpdate500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is not part of a swarm', SecretsUpdate503ErrorException::class)
            );

        $this->execute($_reqBuilder, $_resHandler);
    }
}
