<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\Services404ErrorException;
use DockerLib\Exceptions\Services500ErrorException;
use DockerLib\Exceptions\Services503ErrorException;
use DockerLib\Exceptions\ServicesCreate400ErrorException;
use DockerLib\Exceptions\ServicesCreate403ErrorException;
use DockerLib\Exceptions\ServicesCreate409ErrorException;
use DockerLib\Exceptions\ServicesCreate500ErrorException;
use DockerLib\Exceptions\ServicesCreate503ErrorException;
use DockerLib\Exceptions\ServicesLogs404ErrorException;
use DockerLib\Exceptions\ServicesLogs500ErrorException;
use DockerLib\Exceptions\ServicesLogs503ErrorException;
use DockerLib\Exceptions\ServicesUpdate400ErrorException;
use DockerLib\Exceptions\ServicesUpdate404ErrorException;
use DockerLib\Exceptions\ServicesUpdate500ErrorException;
use DockerLib\Exceptions\ServicesUpdate503ErrorException;
use DockerLib\Models\Service;
use DockerLib\Models\ServicesCreateRequest;
use DockerLib\Models\ServicesCreateResponse;
use DockerLib\Models\ServicesUpdateRequest;
use DockerLib\Models\ServiceUpdateResponse;

class ServiceController extends BaseController
{
    /**
     * @param string|null $filters A JSON encoded value of the filters (a `map[string][]string`) to
     *        process on the services list. Available filters:
     *
     *        - `id=<service id>`
     *        - `label=<service label>`
     *        - `mode=["replicated"|"global"]`
     *        - `name=<service name>`
     *
     * @return Service[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function serviceList(?string $filters = null): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/services')
            ->parameters(QueryParam::init('filters', $filters));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', Services500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Services503ErrorException::class))
            ->type(Service::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param ServicesCreateRequest $body
     * @param string|null $xRegistryAuth A base64-encoded auth configuration for pulling from
     *        private registries. [See the authentication section for details.
     *        ](#section/Authentication)
     *
     * @return ServicesCreateResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function serviceCreate(ServicesCreateRequest $body, ?string $xRegistryAuth = null): ServicesCreateResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/services/create')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                HeaderParam::init('X-Registry-Auth', $xRegistryAuth)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter', ServicesCreate400ErrorException::class))
            ->throwErrorOn(
                '403',
                ErrorType::init('network is not eligible for services', ServicesCreate403ErrorException::class)
            )
            ->throwErrorOn(
                '409',
                ErrorType::init('name conflicts with an existing service', ServicesCreate409ErrorException::class)
            )
            ->throwErrorOn('500', ErrorType::init('server error', ServicesCreate500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is not part of a swarm', ServicesCreate503ErrorException::class)
            )
            ->type(ServicesCreateResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID or name of service.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function serviceDelete(string $id): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/services/{id}')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such service', Services404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Services500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Services503ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID or name of service.
     * @param bool|null $insertDefaults Fill empty fields with default values.
     *
     * @return Service Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function serviceInspect(string $id, ?bool $insertDefaults = false): Service
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/services/{id}')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('insertDefaults', $insertDefaults));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such service', Services404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Services500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Services503ErrorException::class))
            ->type(Service::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get `stdout` and `stderr` logs from a service.
     *
     * **Note**: This endpoint works only for services with the `json-file` or `journald` logging drivers.
     *
     *
     * @param string $id ID or name of the service
     * @param bool|null $details Show service context and extra details provided to logs.
     * @param bool|null $follow Return the logs as a stream. This will return a `101` HTTP response
     *        with a `Connection: upgrade` header, then hijack the HTTP connection to send raw
     *        output. For more information about hijacking and the stream format, [see the
     *        documentation for the attach endpoint](#operation/ContainerAttach).
     * @param bool|null $stdout Return logs from `stdout`
     * @param bool|null $stderr Return logs from `stderr`
     * @param int|null $since Only return logs since this time, as a UNIX timestamp
     * @param bool|null $timestamps Add timestamps to every log line
     * @param string|null $tail Only return this number of log lines from the end of the logs.
     *        Specify as an integer or `all` to output all log lines.
     *
     * @return string Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function serviceLogs(
        string $id,
        ?bool $details = false,
        ?bool $follow = false,
        ?bool $stdout = false,
        ?bool $stderr = false,
        ?int $since = 0,
        ?bool $timestamps = false,
        ?string $tail = 'all'
    ): string {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/services/{id}/logs')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('details', $details),
                QueryParam::init('follow', $follow),
                QueryParam::init('stdout', $stdout),
                QueryParam::init('stderr', $stderr),
                QueryParam::init('since', $since),
                QueryParam::init('timestamps', $timestamps),
                QueryParam::init('tail', $tail)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such service', ServicesLogs404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ServicesLogs500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is not part of a swarm', ServicesLogs503ErrorException::class)
            );

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID or name of service.
     * @param int $version The version number of the service object being updated. This is required
     *        to avoid conflicting writes.
     * @param ServicesUpdateRequest $body
     * @param string|null $registryAuthFrom If the X-Registry-Auth header is not specified, this
     *        parameter indicates where to find registry authorization credentials. The valid
     *        values are `spec` and `previous-spec`.
     * @param string|null $rollback Set to this parameter to `previous` to cause a server-side
     *        rollback to the previous service spec. The supplied spec will be ignored in this
     *        case.
     * @param string|null $xRegistryAuth A base64-encoded auth configuration for pulling from
     *        private registries. [See the authentication section for details.
     *        ](#section/Authentication)
     *
     * @return ServiceUpdateResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function serviceUpdate(
        string $id,
        int $version,
        ServicesUpdateRequest $body,
        ?string $registryAuthFrom = 'spec',
        ?string $rollback = null,
        ?string $xRegistryAuth = null
    ): ServiceUpdateResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/services/{id}/update')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('version', $version),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('registryAuthFrom', $registryAuthFrom),
                QueryParam::init('rollback', $rollback),
                HeaderParam::init('X-Registry-Auth', $xRegistryAuth)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter', ServicesUpdate400ErrorException::class))
            ->throwErrorOn('404', ErrorType::init('no such service', ServicesUpdate404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', ServicesUpdate500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is not part of a swarm', ServicesUpdate503ErrorException::class)
            )
            ->type(ServiceUpdateResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
