<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\Swarm404ErrorException;
use DockerLib\Exceptions\Swarm500ErrorException;
use DockerLib\Exceptions\Swarm503ErrorException;
use DockerLib\Exceptions\SwarmInit400ErrorException;
use DockerLib\Exceptions\SwarmInit500ErrorException;
use DockerLib\Exceptions\SwarmInit503ErrorException;
use DockerLib\Exceptions\SwarmJoin400ErrorException;
use DockerLib\Exceptions\SwarmJoin500ErrorException;
use DockerLib\Exceptions\SwarmJoin503ErrorException;
use DockerLib\Exceptions\SwarmLeave500ErrorException;
use DockerLib\Exceptions\SwarmLeave503ErrorException;
use DockerLib\Exceptions\SwarmUnlock500ErrorException;
use DockerLib\Exceptions\SwarmUnlock503ErrorException;
use DockerLib\Exceptions\SwarmUnlockkey500ErrorException;
use DockerLib\Exceptions\SwarmUnlockkey503ErrorException;
use DockerLib\Exceptions\SwarmUpdate400ErrorException;
use DockerLib\Exceptions\SwarmUpdate500ErrorException;
use DockerLib\Exceptions\SwarmUpdate503ErrorException;
use DockerLib\Models\SwarmInitRequest;
use DockerLib\Models\SwarmJoinRequest;
use DockerLib\Models\SwarmSpec;
use DockerLib\Models\SwarmUnlockkeyResponse;
use DockerLib\Models\SwarmUnlockRequest;

class SwarmController extends BaseController
{
    /**
     * @return mixed Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function swarmInspect()
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/swarm');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such swarm', Swarm404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Swarm500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Swarm503ErrorException::class));

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param SwarmInitRequest $body
     *
     * @return string Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function swarmInit(SwarmInitRequest $body): string
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/swarm/init')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter', SwarmInit400ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', SwarmInit500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is already part of a swarm', SwarmInit503ErrorException::class)
            );

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param SwarmJoinRequest $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function swarmJoin(SwarmJoinRequest $body): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/swarm/join')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter', SwarmJoin400ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', SwarmJoin500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is already part of a swarm', SwarmJoin503ErrorException::class)
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param bool|null $force Force leave swarm, even if this is the last manager or that it will
     *        break the cluster.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function swarmLeave(?bool $force = false): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/swarm/leave')
            ->parameters(QueryParam::init('force', $force));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', SwarmLeave500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is not part of a swarm', SwarmLeave503ErrorException::class)
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param SwarmUnlockRequest $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function swarmUnlock(SwarmUnlockRequest $body): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/swarm/unlock')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', SwarmUnlock500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is not part of a swarm', SwarmUnlock503ErrorException::class)
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return SwarmUnlockkeyResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function swarmUnlockkey(): SwarmUnlockkeyResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/swarm/unlockkey');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', SwarmUnlockkey500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is not part of a swarm', SwarmUnlockkey503ErrorException::class)
            )
            ->type(SwarmUnlockkeyResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param int $version The version number of the swarm object being updated. This is required to
     *        avoid conflicting writes.
     * @param SwarmSpec $body
     * @param bool|null $rotateWorkerToken Rotate the worker join token.
     * @param bool|null $rotateManagerToken Rotate the manager join token.
     * @param bool|null $rotateManagerUnlockKey Rotate the manager unlock key.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function swarmUpdate(
        int $version,
        SwarmSpec $body,
        ?bool $rotateWorkerToken = false,
        ?bool $rotateManagerToken = false,
        ?bool $rotateManagerUnlockKey = false
    ): void {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/swarm/update')
            ->parameters(
                QueryParam::init('version', $version),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                QueryParam::init('rotateWorkerToken', $rotateWorkerToken),
                QueryParam::init('rotateManagerToken', $rotateManagerToken),
                QueryParam::init('rotateManagerUnlockKey', $rotateManagerUnlockKey)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter', SwarmUpdate400ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', SwarmUpdate500ErrorException::class))
            ->throwErrorOn(
                '503',
                ErrorType::init('node is not part of a swarm', SwarmUpdate503ErrorException::class)
            );

        $this->execute($_reqBuilder, $_resHandler);
    }
}
