<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\Auth500ErrorException;
use DockerLib\Exceptions\Events400ErrorException;
use DockerLib\Exceptions\Events500ErrorException;
use DockerLib\Exceptions\Info500ErrorException;
use DockerLib\Exceptions\Ping500ErrorException;
use DockerLib\Exceptions\SystemDf500ErrorException;
use DockerLib\Exceptions\Version500ErrorException;
use DockerLib\Models\AuthConfig;
use DockerLib\Models\AuthResponse;
use DockerLib\Models\EventsResponse;
use DockerLib\Models\SystemDfResponse;
use DockerLib\Models\SystemInfo;
use DockerLib\Models\VersionResponse;

class SystemController extends BaseController
{
    /**
     * This is a dummy endpoint you can use to test if the server is accessible.
     *
     * @return string Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function systemPing(): string
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/_ping');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', Ping500ErrorException::class));

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Validate credentials for a registry and, if available, get an identity token for accessing the
     * registry without password.
     *
     * @param AuthConfig|null $body Authentication to check
     *
     * @return AuthResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function systemAuth(?AuthConfig $body = null): AuthResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/auth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Server error', Auth500ErrorException::class))
            ->type(AuthResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Stream real-time events from the server.
     *
     * Various objects within Docker report events when something happens to them.
     *
     * Containers report these events: `attach`, `commit`, `copy`, `create`, `destroy`, `detach`, `die`,
     * `exec_create`, `exec_detach`, `exec_start`, `export`, `health_status`, `kill`, `oom`, `pause`,
     * `rename`, `resize`, `restart`, `start`, `stop`, `top`, `unpause`, and `update`
     *
     * Images report these events: `delete`, `import`, `load`, `pull`, `push`, `save`, `tag`, and `untag`
     *
     * Volumes report these events: `create`, `mount`, `unmount`, and `destroy`
     *
     * Networks report these events: `create`, `connect`, `disconnect`, `destroy`, `update`, and `remove`
     *
     * The Docker daemon reports these events: `reload`
     *
     * Services report these events: `create`, `update`, and `remove`
     *
     * Nodes report these events: `create`, `update`, and `remove`
     *
     * Secrets report these events: `create`, `update`, and `remove`
     *
     * Configs report these events: `create`, `update`, and `remove`
     *
     *
     * @param string|null $since Show events created since this timestamp then stream new events.
     * @param string|null $until Show events created until this timestamp then stop streaming.
     * @param string|null $filters A JSON encoded value of filters (a `map[string][]string`) to
     *        process on the event list. Available filters:
     *
     *        - `config=<string>` config name or ID
     *        - `container=<string>` container name or ID
     *        - `daemon=<string>` daemon name or ID
     *        - `event=<string>` event type
     *        - `image=<string>` image name or ID
     *        - `label=<string>` image or container label
     *        - `network=<string>` network name or ID
     *        - `node=<string>` node ID
     *        - `plugin`=<string> plugin name or ID
     *        - `scope`＝<string> local or swarm
     *        - `secret=<string>` secret name or ID
     *        - `service=<string>` service name or ID
     *        - `type=<string>` object to filter by, one of `container`, `image`, `volume`,
     *        `network`, `daemon`, `plugin`, `node`, `service`, `secret` or `config`
     *        - `volume=<string>` volume name
     *
     * @return EventsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function systemEvents(?string $since = null, ?string $until = null, ?string $filters = null): EventsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/events')
            ->parameters(
                QueryParam::init('since', $since),
                QueryParam::init('until', $until),
                QueryParam::init('filters', $filters)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('bad parameter', Events400ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Events500ErrorException::class))
            ->type(EventsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return SystemInfo Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function systemInfo(): SystemInfo
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/info');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Server error', Info500ErrorException::class))
            ->type(SystemInfo::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return SystemDfResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function systemDataUsage(): SystemDfResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/system/df');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', SystemDf500ErrorException::class))
            ->type(SystemDfResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the version of Docker that is running and various information about the system that Docker
     * is running on.
     *
     * @return VersionResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function systemVersion(): VersionResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/version');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', Version500ErrorException::class))
            ->type(VersionResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
