<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\Tasks404ErrorException;
use DockerLib\Exceptions\Tasks500ErrorException;
use DockerLib\Exceptions\Tasks503ErrorException;
use DockerLib\Models\Task;

class TaskController extends BaseController
{
    /**
     * @param string|null $filters A JSON encoded value of the filters (a `map[string][]string`) to
     *        process on the tasks list. Available filters:
     *
     *        - `desired-state=(running | shutdown | accepted)`
     *        - `id=<task id>`
     *        - `label=key` or `label="key=value"`
     *        - `name=<task name>`
     *        - `node=<node id or name>`
     *        - `service=<service name>`
     *
     * @return Task[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function taskList(?string $filters = null): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/tasks')
            ->parameters(QueryParam::init('filters', $filters));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('server error', Tasks500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Tasks503ErrorException::class))
            ->type(Task::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $id ID of the task
     *
     * @return Task Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function taskInspect(string $id): Task
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/tasks/{id}')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('no such task', Tasks404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('server error', Tasks500ErrorException::class))
            ->throwErrorOn('503', ErrorType::init('node is not part of a swarm', Tasks503ErrorException::class))
            ->type(Task::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
