<?php

declare(strict_types=1);

/*
 * DockerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DockerLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DockerLib\Exceptions\ApiException;
use DockerLib\Exceptions\Volumes404ErrorException;
use DockerLib\Exceptions\Volumes409ErrorException;
use DockerLib\Exceptions\Volumes500ErrorException;
use DockerLib\Exceptions\VolumesCreate500ErrorException;
use DockerLib\Exceptions\VolumesPrune500ErrorException;
use DockerLib\Models\Volume;
use DockerLib\Models\VolumesCreateRequest;
use DockerLib\Models\VolumesPruneResponse;
use DockerLib\Models\VolumesResponse;

class VolumeController extends BaseController
{
    /**
     * @param string|null $filters JSON encoded value of the filters (a `map[string][]string`) to
     *        process on the volumes list. Available filters:
     *
     *        - `dangling=<boolean>` When set to `true` (or `1`), returns all
     *        volumes that are not in use by a container. When set to `false`
     *        (or `0`), only volumes that are in use by one or more
     *        containers are returned.
     *        - `driver=<volume-driver-name>` Matches volumes based on their driver.
     *        - `label=<key>` or `label=<key>:<value>` Matches volumes based on
     *        the presence of a `label` alone or a `label` and a value.
     *        - `name=<volume-name>` Matches all or part of a volume name.
     *
     * @return VolumesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function volumeList(?string $filters = null): VolumesResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/volumes')
            ->parameters(QueryParam::init('filters', $filters));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Server error', Volumes500ErrorException::class))
            ->type(VolumesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param VolumesCreateRequest $body Volume configuration
     *
     * @return Volume Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function volumeCreate(VolumesCreateRequest $body): Volume
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/volumes/create')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Server error', VolumesCreate500ErrorException::class))
            ->type(Volume::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string|null $filters Filters to process on the prune list, encoded as JSON (a
     *        `map[string][]string`).
     *
     *        Available filters:
     *        - `label` (`label=<key>`, `label=<key>=<value>`, `label!=<key>`, or `label!
     *        =<key>=<value>`) Prune volumes with (or without, in case `label!=...` is used) the
     *        specified labels.
     *
     * @return VolumesPruneResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function volumePrune(?string $filters = null): VolumesPruneResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/volumes/prune')
            ->parameters(QueryParam::init('filters', $filters));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Server error', VolumesPrune500ErrorException::class))
            ->type(VolumesPruneResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Instruct the driver to remove the volume.
     *
     * @param string $name Volume name or ID
     * @param bool|null $force Force the removal of the volume
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function volumeDelete(string $name, ?bool $force = false): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/volumes/{name}')
            ->parameters(TemplateParam::init('name', $name), QueryParam::init('force', $force));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init('No such volume or volume driver', Volumes404ErrorException::class)
            )
            ->throwErrorOn(
                '409',
                ErrorType::init('Volume is in use and cannot be removed', Volumes409ErrorException::class)
            )
            ->throwErrorOn('500', ErrorType::init('Server error', Volumes500ErrorException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $name Volume name or ID
     *
     * @return Volume Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function volumeInspect(string $name): Volume
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/volumes/{name}')
            ->parameters(TemplateParam::init('name', $name));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('No such volume', Volumes404ErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Server error', Volumes500ErrorException::class))
            ->type(Volume::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
